<!-- Start breadcrumb-area -->
<div class="breadcrumb-area text-center mt-70">
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <div class="breadcrumb-table">
                    <div class="breadcrumb-tablecell">
			<form>
                        <div class="profile-img">
			    <input type="file" id="profile-image" (change)="selectFile($event)" name="image" accept="image/*" capture style="display:none"/>
			    <img [src]="user.image != null ? user.image : defaultImage" (click)="profileImgClick($event)" />
                        </div>
			</form>
                        <h1 class="user-name">My account</h1>
                        <span>Lorem ipsum dolor sit amet, consectetur .</span>
                    </div>
                </div>
            </div><!-- end col-xs-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end breadcrumb-area -->
<!-- Start account-info-area -->
<div class="account-info-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav account-info-tabs" role="tablist">
                    <li role="presentation" (click)="changeTab(0)" [ngClass]="{ 'active': tabActive == 0 }"><a role="tab" data-toggle="tab">Personal</a></li>
                    <li role="presentation" (click)="changeTab(1)" [ngClass]="{ 'active': tabActive == 1 }"><a role="tab" data-toggle="tab">Password</a></li>
                    <li role="presentation" (click)="changeTab(2)" [ngClass]="{ 'active': tabActive == 2 }"><a role="tab" data-toggle="tab">Advanced</a></li>
                    <li *ngIf="user.membership == 2" role="presentation" (click)="changeTab(3)" [ngClass]="{ 'active': tabActive == 3 }"><a role="tab" data-toggle="tab">Subscription Premium</a></li>
                    <li *ngIf="user.membership == 3" role="presentation" (click)="changeTab(4)" [ngClass]="{ 'active': tabActive == 4 }"><a role="tab" data-toggle="tab">Subscription Free</a></li>
                </ul><!-- end nav-tabs -->
                
                <div class="tab-content mt-70 plr-9">
                    <div role="tabpanel" class="tab-pane active" [ngClass]="{ 'active': tabActive == 0 }">
                        <div class="row">
                            <div class="account-user-form">
                                <form>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <h6>Location</h6>
                                            <select2 [data]="countries" [value]="countrySelected" (valueChanged)="onSelectCountry($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <h6>&nbsp;</h6>
                                            <select2 [data]="cities" [value]="citySelected" (valueChanged)="onSelectCity($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <h6>Professional</h6>
                                            <select [(ngModel)]="user.profession" name="profession" class="form-control">
                                                <option value="0">Type of profession</option>
                                                <option *ngFor="let item of professions" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select2 [data]="regions" [value]="regionSelected" (valueChanged)="onSelectRegion($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" [(ngModel)]="user.address" name="address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" [(ngModel)]="user.website" name="website" placeholder="Website">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 1 }">
                        <div class="row">
                            <div class="account-user-form">
                                <form>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <h6>New password</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                            <div class="form-group">
                                                <input [(ngModel)]="password.password" type="password" name="password" id="password" class="form-control" required="required" placeholder="Old Password">
                                            </div>
                                        </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input [(ngModel)]="password.newpassword" type="password" name="newpassword" id="newpassword" class="form-control" required="required" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input [(ngModel)]="password.password_confirmation" type="password" name="password_confirmation" id="password_confirmation" class="form-control" required="required" placeholder="Repeat New Password">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
			<div class="row">
                		<div class="col-xs-12 text-center mt-70">
                    			<button (click)="savePassword()" class="save-btn">Save</button>
                		</div>
            		</div><!-- end row -->
                    </div>
                    <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 2 }">
                        <div class="row">
                            <div class="tab-advance account-user-form">
                                <form action="#" method="post" enctype="multipart/form-data">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h6>Settings</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-advance form-group">
                                            <h6><i class="fa fa-chain-broken"></i> Desactivate my account</h6>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 3 }">
                        <div class="col-md-7">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p class="text-1">Current subscription</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h6 class="bold inline chess"><img src="/assets/images/chess-icon.png"> Health Pros PREMIUM ACCOUNT</h6>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p><strong>Unlimited messages</strong> to other patients </p>
                                    <p>Includes <strong>email, website, address and phone number</strong> in your profile</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 col-sm-12 membership">
                                <div class="form-group">
                                    <p class="inline font13">Subscription</p>
                                    <p class="inline text-1 right20"><span class="price">25 $</span> / Month</p>
                                </div>
                                <div class="form-group mb0">
                                    <p class="forgot2 mb0 font13">Last payment: <span>23 September 2018</span></p>
                                </div>
                                <div class="form-group">
                                    <p class="forgot2 font13">Expiration: <span>23 September 2018</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 4 }">
                        <div class="col-md-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p class="text-1">Current subscription</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h6 class="bold inline">Health Pros FREE ACCOUNT</h6>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p>Message to patient</p>
                                    <p>01 Daily Message</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 col-sm-12 membership mship">
                                <div class="form-group mb0 text-center">
                                    <span class="forgot2 mb0" >
                                        <h6 class="inline chess">
                                            <img src="/assets/images/chess-icon.png"> Become a <b>PREMIUM MEMBER</b>
                                        </h6>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-right font13 mb0"><strong>Unlimited messages</strong> to other patients </p>
                                <p class="text-right font13">¡Includes <strong>email, website, address and phone number</strong> in your profile!</p>
                            </div>
                        </div>
                    </div>
                </div><!-- end tab-content -->
            </div><!-- end col-xs-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end account-info-area -->

<!-- Start Personal Info Area -->
<div class="personal-info-area  ptb-50" *ngIf="tabActive == 0">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <ul class="nav personal-info-tabs" role="tablist">
                        <li role="presentation" (click)="changeSubTab(0)" [ngClass]="{ 'active': subTabActive == 0 }"><a role="tab" data-toggle="tab">About me</a></li>
                        <li role="presentation" (click)="changeSubTab(1)" [ngClass]="{ 'active': subTabActive == 1 }"><a role="tab" data-toggle="tab">My approach</a></li>
                        <li role="presentation" (click)="changeSubTab(2)" [ngClass]="{ 'active': subTabActive == 2 }"><a role="tab" data-toggle="tab">My success stories</a></li>
                    </ul><!-- end nav-tabs -->
                    
                    <div class="tab-content mt-30 white-bg">
                        <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': subTabActive == 0 }">
				<!--<textarea name="about" [(ngModel)]="user.about" rows="7" class="area2" [innerHTML]="user.about">{{user.about}}</textarea>-->
			    <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.about" [innerHTML]="user.about"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': subTabActive == 1 }">
				<!--<textarea name="approach" [(ngModel)]="user.approach" rows="7" class="area2" [innerHTML]="user.approach">{{user.approach}}</textarea>-->
			    <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.approach" [innerHTML]="user.approach"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': subTabActive == 2 }">
				<!--<textarea name="stories" [(ngModel)]="user.stories" rows="7" class="area2" [innerHTML]="user.stories">{{user.stories}}</textarea>-->
			    <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.stories" [innerHTML]="user.stories"></div>
                        </div>
                    </div><!-- end tab-content -->
                </div><!-- end col-xs-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end personal-info-area -->
    
    <!-- Start Speciality Education Area -->
    <div class="speciality-education-area  ptb-50" *ngIf="tabActive == 0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="speciality-content">
                        <div class="account-user-form">
                            <form>
                                <div class="form-group">
                                   <h6>Specialities</h6>
                                    <select2 [data]="specialities" [value]="specialitiesSelected" (valueChanged)="onSelectSpecialities($event)"></select2>
                                </div>
                            </form>
                        </div>
                        <ul class="speciality-education-list">
                            <li *ngFor="let i of user.specialities"><a (click)="removeSpecialities(i.id)">{{i.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="education-content">
                        <div class="account-user-form">
                            <form>
                                <div class="form-group">
                                   <h6>Qualifications</h6>
                                   <select2 [data]="qualification" [value]="qualificationSelected" (valueChanged)="onSelectQualifications($event)"></select2>
                                </div>
                            </form>
                        </div>
                        <ul class="speciality-education-list">
                            <li *ngFor="let i of user.qualifications"><a (click)="removeQualifications(i.id)">{{i.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-xs-12 text-center mt-70">
                    <button (click)="save()" class="save-btn">Save</button>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end speciality-education-area -->

    <!-- Start advance Area -->
    <div class="advance ptb-50" *ngIf="tabActive == 2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="speciality-content">
                        <div class="account-user-form">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <h6>Notifications</h6>
                                </div>
                            </form>
                        </div>
                        <ul class="advance-list">
                            <li *ngFor="let i of user.preference">
				    <input type="checkbox" [checked]="i.patientpreference_selected" style="display:none;" id="{{i.pkpreference}}" name="{{i.pkpreference}}" (change)="preferenceChange($event)"> 
				    <label for="{{i.pkpreference}}"><span></span>{{i.preference_name}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="education-content">
                        <div class="account-user-form">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <h6>Loremp Ipsum</h6>
                                </div>
                            </form>
                        </div>
                        <ul class="advance-list">
                                <li>
                                    <input type="checkbox"  style="display:none;" id="r2"> 
                                    <label for="r2"><span></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                                </li>
                                <li>
                                    <input type="checkbox"  style="display:none;" id="r3"> 
                                    <label for="r3"><span></span> Lorem ipsum dolor sit amet, consectetur </label>
                                </li>
                                <li>
                                    <input type="checkbox" checked style="display:none;" id="r4"> 
                                    <label for="r4"><span></span> Lorem ipsum dolor sit ame. </label>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="education-content">
                        <div class="account-user-form">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <h6>Loremp Ipsum</h6>
                                </div>
                            </form>
                        </div>
                        <ul class="advance-list">
                                <li>
                                    <input type="checkbox" checked style="display:none;" id="r2"> 
                                    <label for="r2"><span></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                                </li>
                                <li>
                                    <input type="checkbox"  style="display:none;" id="r3"> 
                                    <label for="r3"><span></span> Lorem ipsum dolor sit amet, consectetur </label>
                                </li>
                                <li>
                                    <input type="checkbox" checked style="display:none;" id="r4"> 
                                    <label for="r4"><span></span> Lorem ipsum dolor sit ame. </label>
                                </li>
                            </ul>
                    </div>
		</div>-->
            </div><!-- end row -->
            <div class="row">
                <div class="col-xs-12 text-center mt-70">
                    <button (click)="savePerferences()" class="save-btn">Save</button>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end advance area -->
