.progress-bar{
    width: 100%;
}


.speciality-education-list > li > a:hover {
	cursor: pointer;
}

.speciality-education-list > li > a:hover:before {
	color: #06b6d8;		
}

.white-bg {
	padding: 0px;
}

