<!--start desktop version-->
<section  class="main mt-30">
        <div class="container">
            <div class="row row-eq-height">
                <div id="sidebar" class="col-md-3 section-title sidebar ptb-50" >
                    <div class="show-lt-lg">
                        <a class="closebtn" (click)="closeNav()">&times;</a>
                    </div>
                    
                    <div class="content">
                            <div class="mb-40">
                                Order by:
                                <select class="order" [(ngModel)]="order" (ngModelChange)="onFilters($event)">
                                    <option value="0">Years with pain</option>
                                    <option value="1">0 - 1 Year</option>
                                    <option value="2">2 - 3 Years</option>
                                    <option value="3">4 - 5 Years</option>
                                    <option value="4">5 Years +</option>
                                </select>
                            </div>

                            <div class="mb-40">
                                <div class="tit03 mb-20">Location and distance</div>
                                <select class="form-control" [(ngModel)]="location" (ngModelChange)="onFilters($event)">
                                    <option value="0">Location</option>
				    <option value="30">30 kms</option>
                                    <option value="50">50 kms</option>
                                    <option value="100">100 kms</option>
                                    <option value="150">150 kms</option>
                                    <option value="1000000000000000000">150 kms +</option>
                                </select>
                            </div>

                            <div class="mb-40">
                                <div class="tit03 mb-20">Distance (miles)</div>
                                <div class="mb-20">
					<p-slider [(ngModel)]="distanceRange" [range]="true" [min]="0" [max]="50" [step]="5" (onSlideEnd)="onFilterRangesDistance($event)"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 15 and 45 miles</span>
                            </div>
                            <div class="mb-40">
                                <div class="tit03 mb-20">Type of Pain</div>
                                <select class="form-control" [(ngModel)]="painType" (ngModelChange)="onFilters($event)">
                                    <option value="0">Type of Pain</option>
				    <option *ngFor="let item of painTypes" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="mb-40">
                                <div class="tit03 mb-20">Uses Painkillers</div>
				<div class="mb-20">
					<p-radioButton name="painkillers" value="Yes" label="Yes" [(ngModel)]="painkillers" inputId="opt1" [class]="painKillerRadio" (onClick)="onFiltersPainkillers('Yes')"></p-radioButton>
					<p-radioButton name="painkillers" value="No" label="No" [(ngModel)]="painkillers" inputId="opt2" [class]="painKillerRadio" (onClick)="onFiltersPainkillers('No')"></p-radioButton>
					<p-radioButton name="painkillers" value="Neither" label="Neither" [(ngModel)]="painkillers" inputId="opt3" [class]="painKillerRadio" (onClick)="onFiltersPainkillers('Neither')"></p-radioButton>
				</div>
                            </div>
                            <div class="mb-40">
                                <div class="tit03 mb-20">Number of years in pain</div>
                                <div class="mb-20">
					<p-slider [(ngModel)]="painRanges" [range]="true" [min]="0" [max]="50" [step]="5" (onSlideEnd)="onFilterRangesPain($event)"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 10 and 20 years</span>
                            </div>
                    </div>
                </div><!-- end col-md-3 -->
                <div class="col-md-9 col-sm-12 col">     
                    <div class="show-lt-lg">
                        <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                            <div class="col-xs-6">
                                <a [routerLink]="['/search/patients-map']" class="toolbtn"><i class="fa fa-map-marker"></i>  View in map</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="closebtn toolbtn" (click)="openNav()">Filter search</a>
                                <button (click)="mobileSearch()" class="btn-search" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Search</h5>  
                                        <button (click)="mobileCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form (ngSubmit)="onSubmit($event)">
                                            <div class="custom-search-input">
                                                <div class="input-group col-md-12">

                                                    <input [(ngModel)]="textSearch" ngControl="textSearch" type="text" class="form-control input-lg" placeholder="Search by healthpros" [ngModelOptions]="{standalone: true}" />
                                                    <span class="input-group-btn">
                                                        <button class="btn" type="submit">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- end show only md-->
                    <div class="show-gt-lt">
                        <div class="row mb-40">
                            <div class="col-md-8">
                                <form (ngSubmit)="onSubmit($event)">
                                    <div class="custom-search-input">
                                        <div class="input-group col-md-12">
						<input [(ngModel)]="textSearch" ngControl="textSearch" type="text" class="form-control input-lg" placeholder="Search by healthpros" [ngModelOptions]="{standalone: true}" />
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/search/patients-map']" class="btn btn-default inverse btn-md pull-right bold"><i class="fa fa-map-marker"></i> View patients in map</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-list mb-40">
                        <div class="card mb-40" *ngFor="let i of patients">
                            <div class="card-body row-eq-height ">
                                <div class="col-sm-3 vertical-center text-center">
                                    <div class="avatar">
					    <img [src]="i.image != null ? i.image : defaultImage" />
                                    </div>
                                    <a [routerLink]="['/user/' + i.username]">View profile</a>
                                </div>
                                <div class="col-sm-6 vertical-center">
                                    <strong class="username">{{i.username}}</strong>
                                    <span class="d1">{{i.pain_type}} | {{i.pain_level}}</span>
                                    <span class="d1 mb-10">{{i.pain_years}} years with pain</span>
				    <p [innerHTML]="i.story.slice(0, 150)"></p><p><a class="read-more" [routerLink]="['/user/' + i.username]">read more</a></p>
                                </div>
                                <div class="col-sm-3 text-right clearfix">
					<label *ngIf="i.usage_painkiller !== 0" style="color:#06b6d8;"><i class="fas fa-circle"></i> Use Painkillers</label>
					<label *ngIf="i.usage_painkiller === 0"><i class="fas fa-circle"></i> Don't User Painkillers</label>
                                    <a [routerLink]="['/message/' + i.username]" class="btn btn-default btn-contact bold" href="">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end container -->
    </section> <!-- end desktop version -->
