<app-navbar></app-navbar>
	<div class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sx-12">
                        <div class="breadcrumb-table">
                            <div class="breadcrumb-tablecell">
                                <h1>About</h1>
                                <span>So, Who is Paindown?</span>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
	<div class="ptb-90">
            <div class="container">
                <div class="row row-eq-height">
                    <div class="col-sm-5 col-xs-12 pr-9">
                        <img src="assets/images/about-01.png" alt="" class="img-outer right" />
                    </div><!-- end col-sm-4 -->
                    <div class="col-sm-7 col-xs-12">
                        <div class="section-title text-left mt-30 md-center">
                            <h2><span>A different</span> method</h2>
                        </div>
                        <div class="section-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sagittis lorem et sollicitudin. Aenean dignissim erat vitae nulla laoreet condimentum. Vestibulum eleifend, tellus at egestas sodales, nulla quam pellentesque mauris, ac egestas risus diam quis augue.  </p>
                            <a href="" class="btn-see-more pull-right"><i class="fa fa-angle-right"></i> See more</a>
                        </div>
                    </div><!-- end col-sm-8 -->
                </div><!-- end row -->
            </div><!-- end container -->


        </div>
        <div class="ptb-90">
            <div class="container">
                <div class="row">

                    <div class="col-sm-5 col-xs-12 md-float-right pl-9">
                        <div class="section-title text-left mt-30 md-center">
                            <h2>Work with <span>our data</span></h2>
                        </div>
                    </div><!-- end col-sm-4 -->
                    <div class="col-sm-7 col-xs-12 md-float-left">
                        <div class="section-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sagittis lorem et sollicitudin. Aenean dignissim erat vitae nulla laoreet condimentum. Vestibulum eleifend, tellus at egestas sodales, nulla quam pellentesque mauris, ac egestas risus diam quis augue.  </p>
                        </div>
                    </div><!-- end col-sm-8 -->
                </div><!-- end row -->
            </div><!-- end container -->


        </div>

        <div class="ptb-90">
            <div class="container">
                <div class="row row-eq-height">

                    <div class="col-sm-6 col-xs-12 md-float-right pr-9">
                         <img src="assets/images//about-02.png" alt="" class="img-outer right" />
                    </div><!-- end col-sm-6 -->
                    <div class="col-sm-6 col-xs-12 md-float-left vertical-center">
                        <div class="section-title">
                            <h2 class="md-center">¡We <span>all win</span>!</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sagittis lorem et sollicitudin. Aenean dignissim erat vitae nulla laoreet condimentum. Vestibulum eleifend, tellus at egestas sodales, nulla quam pellentesque mauris, ac egestas risus diam quis augue. 
                                
                            </p>
                            <a href="#" class="btn btn-default pull-right bold">Contact Them</a>
                        </div>
                    </div><!-- end col-sm-6 -->
                </div><!-- end row -->
            </div><!-- end container -->


        </div>


        <div class="ptb-90">
            <div class="container">
                <div class="row">

                    <div class="col-sm-5 col-xs-12 md-float-right pl-9">
                        <div class="section-title text-left mt-30 md-center">
                            <h2><span>Confidence</span> is all</h2>
                        </div>
                    </div><!-- end col-sm-4 -->
                    <div class="col-sm-7 col-xs-12 md-float-left">
                        <div class="section-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sagittis lorem et sollicitudin. Aenean dignissim erat vitae nulla laoreet condimentum. Vestibulum eleifend, tellus at egestas sodales, nulla quam pellentesque mauris, ac egestas risus diam quis augue.  </p>
                        </div>
                    </div><!-- end col-sm-8 -->
                </div><!-- end row -->
            </div><!-- end container -->


        </div>
