<app-navbar></app-navbar>
<!-- Start breadcrumb-area -->
<div class="breadcrumb-area text-center">
  <div class="container">
      <div class="row">
          <div class="col-sx-12">
              <div class="breadcrumb-table">
                  <div class="breadcrumb-tablecell">
                      <h1><span>¡Hello!</span> Welcome to PainDown</h1>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. </span>
                  </div>
              </div>
          </div><!-- end col-xs-12 -->
      </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end breadcrumb-area -->

<!-- Start user-account-area -->
<div class="user-account-area text-center ptb-90">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
              <div class="login user-content-wrapper">
                  <div class="login-wrapper user-form-wrapper">
                      <div class="account-user-form">
                          <form >
                              <div class="form-group">
                                  <span class="icon"><i class="far fa-user"></i></span>
                                  <input [(ngModel)]="user.email" type="text" name="username" id="username" class="form-control" placeholder="Email">
                              </div>
                              <div class="form-group">
                                  <span class="icon"><i class="fas fa-lock-open"></i></span>
                                  <input [(ngModel)]="user.password" type="password" name="password" id="password" class="form-control" placeholder="Password">
                              </div>
			      <p class="forgot"><span routerLink="/forgot">Forgot your passowrd?</span></p>
                          </form>
                      </div>
                  </div>
                  <div class="arrow-btn-group w-100">
                      <div class="text-center">
                          <button (click)="login()" class="next-login save-btn next-btn">Next</button>
                        </div>
                      <p class="create-account">I am not registered. <span routerLink="/register">Create my account</span></p>
                  </div>
              </div>
          </div><!-- end col-xs-12 -->
      </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end user-account-area -->
