<app-navbar></app-navbar>
<section  class="main mt-30">
            <div class="container">
                <div class="row row-eq-height">

                    <div id="sidebar" class="col-md-2 section-title sidebar  no-x-padding ptb-50" >
                        <div class="show-lt-lg">
                            <a class="closebtn" (click)="closeNav()">&times;</a>
                        </div>

                        <div class="content">
                            <h2 class="tit04 pm-l-30">Messages</h2>
                        </div>

                        <ul class="list02 pm-l-30">
			    <li class="mb-20 item"><a [routerLink]="['/messages/']"><i class="fa fa-arrow-down"></i> Inbox</a></li>
                            <li class="mb-20 item active"><a [routerLink]="['/messages-sent/']"><i class="fa fa-arrow-up"></i> Sent</a></li>
                            <li class="mb-20 item"><a [routerLink]="['/messages-deleted/']"><i class="fa fa-trash"></i> Trash</a></li>
                        </ul>

                    </div><!-- end col-md-3 -->

                    <div class="col-md-10 col-sm-12 col block-shadow white-bg">     
                        <div class="show-lt-lg">
                            <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                                <div class="col-xs-6">
                                    <a class="closebtn toolbtn" (click)="openNav()">Menú</a>
                                </div>
                                <div class="col-xs-6">                                    
                                    <button (click)="mobileSearch()" class="btn-search" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default btn-icon btn-md pull-right" [disabled]="!selectedMessages || selectedMessages.length === 0" (click)="deleteMessages()"><i class="fa fa-trash icon"></i></button>
                                </div>
                            </div>

                            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Search</h5>  
                                            <button (click)="mobileCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form (ngSubmit)="onSubmit($event)">
                                                <div class="custom-search-input">
                                                    <div class="input-group col-md-12">

                                                        <input type="text" class="form-control input-lg" placeholder="Search messages" [(ngModel)]="textSearch" ngControl="textSearch" [ngModelOptions]="{standalone: true}"/>
                                                        <span class="input-group-btn">
                                                            <button class="btn" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>

                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- end show only md-->
                        <div class="show-gt-lt">
                            <div class="row mb-40">
                                <div class="col-md-8">
                                    <form (ngSubmit)="onSubmit($event)">
                                        <div class="custom-search-input">
                                            <div class="input-group col-md-12">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
						<input type="text" class="form-control input-lg" placeholder="Search messages" [(ngModel)]="textSearch" ngControl="textSearch" [ngModelOptions]="{standalone: true}" />


                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <button [disabled]="!selectedMessages || selectedMessages.length === 0" class="btn btn-default btn-icon btn-md pull-right" (click)="deleteMessages()"><i class="fa fa-trash icon"></i> Delete messages</button>
                                </div>
                            </div>
                        </div>




                        <div class="card-list t02 mb-40">
                            <div class="card" *ngFor="let i of userMessages; let item = index">
                                <div class="card-body row-eq-height clearfix">
                                    <div class="col-sm-2 vertical-center text-center">
                                        <div class="avatar">

                                        </div>
                                    </div>
                                    <div class="col-sm-8 vertical-center xs-center-text">
					    <strong class="username"><a [routerLink]="['/user/' + i.username]" class="read-more">{{i.username}}</a></strong>
					<p><a class="read-more" [routerLink]="['/thread/' + i.id]">{{i.subject}}</a></p>
                                    </div>
                                    <div class="col-sm-2  col-xs-6  clearfix">
					    <span class="date">{{i.updated_at | date: 'MM/dd/yyyy'}}</span>

                                    </div>
                                    <div class="col-sm-1  col-xs-6  text-right clearfix no-x-padding">
                                        <div class="custom-check pull-right">
						<input type="checkbox" id="{{i.id}}" name="{{i.id}}" (change)="messageSelected($event, item)"/>
						<label for="{{i.id}}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div><!-- end row -->


                </div><!-- end container -->
            </div><!-- end container -->

        </section>
