<app-navbar></app-navbar>
<div class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-sx-12">
                    <div class="breadcrumb-table">
                        <div class="breadcrumb-tablecell">
                            <h1>Blog</h1>
                            <span>Lorem ipsum dolor sit</span>
                        </div>
                    </div>
                </div><!-- end col-xs-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-area -->
    
    <!-- Start blog-content-area -->
    <div class="blog-content-area ptb-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="section-title text-center mt-30">
                        <h2><span>Health</span> everyday</h2>
                    </div>
                </div><!-- end col-sm-4 -->
                <div class="col-sm-8 col-xs-12">
                    <div class="section-title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sagittis lorem et sollicitudin. Aenean dignissim erat vitae nulla laoreet condimentum. Vestibulum eleifend, tellus at egestas sodales, nulla quam pellentesque mauris, ac egestas risus diam quis augue. </p>
                    </div>
                </div><!-- end col-sm-8 -->
            </div><!-- end row -->
        </div><!-- end container -->
        
        <div class="container mt-30">
            <div class="row">
                <div class="col-sm-4" *ngFor="let i of posts">
		    <a [routerLink]="['/post/' + i.id]">
                    <div class="single-blog-wrapper">
                        <div class="blog-img">
				<img src="{{i.better_featured_image.source_url}}" alt="Blog">
				<span class="date">{{i.date | date: 'dd MMM yyyy'}}</span>
                        </div>
                        <div class="blog-content p-20">
				<h4>{{i.title.rendered}}</h4>
				<p [innerHTML]="i.content.rendered">{{i.content.rendered}}</p>
                        </div>
                    </div><!-- end single-blog-wrapper -->
		    </a>
                </div><!-- end col-sm-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end blog-content-area -->
