.btn-default.inverse {
	top: 50px;
}

.progress-bar{
    width: 100%;
}
.username-sub-title{
    margin-top: 50px;
    color: #333;
}
.username-sub-title i{
    color: #34aad8;
}
.white-tabs {
    padding: 5px 75px;
}

.avatar {
	text-transform: uppercase;
}

.avatar img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.middle-area .col-sm-4, .middle-area .col-sm-2 {
	margin-bottom: 10px;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
	background-color: #06b6d8;
}

.absolute {
	position: absolute;
	top: 15px;
	right: 70px;
	display: none;
	z-index: 999;
	background-color: #FFFFFF !important;
}

section {
        padding-top: 30px;
}
@media(min-width:768px) {
        section {
                padding-top: 65px;
        }
}

agm-map {
	width: 100%;
	height: 735px;
}

@media(min-width:768px) {

	.absolute {

		display: block;

	}
}
