<app-navbar></app-navbar>
<section  class="main mt-30">
            <div class="container">
                <div class="row row-eq-height" *ngIf ="session">

                    <div class="col-md-12 col-sm-12 col block-shadow white-bg">     
                        <div class="show-lt-lg">
                            <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                                <div class="col-xs-6">
                                     <a href="messages.html" class="btn t03 btn-sm"><i class="fa fa-angle-left"></i> Back</a>
                                    
                                </div>
                                <div class="col-xs-6">                                    
                                   <a class="closebtn toolbtn" (click)="openNav()">Menú</a>
                                    <button class="btn btn-default btn-icon btn-md pull-right"><i class="fa fa-trash icon"></i></button>
                                </div>
                            </div>

                            
                        </div><!-- end show only md-->

			<div class="col-md-12">
				<div class="form-group">
					<input [(ngModel)]="user.subject" type="text" class="form-control control-icon" placeholder="Subject">
				</div>
			</div>
                        <div class="col-md-12">
			    <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.body"></div>
                        </div>
			<div class="col-md-12" style="text-align: center;">
				<button (click)="send()" class="next-login save-btn next-btn">Send</button>
            		</div>

                    </div><!-- end row -->


                </div><!-- end container -->
		<div class="row row-eq-height" *ngIf="!session">
			<div class="col-md-12 col-sm-12 col block-shadow white-bg">
				<p class="create-account"><span routerLink="/login">Log in</span> to write a message.</p>
			</div>
		</div>
            </div><!-- end container -->


        </section>
