<app-navbar-list></app-navbar-list>
<div class="pg04">
    <app-list-professional *ngIf="type == 'professionals'"></app-list-professional>
    <app-list-professionalMap *ngIf="type == 'professionals-map'"></app-list-professionalMap>
    <app-list-patients *ngIf="type == 'patients'"></app-list-patients>
    <app-list-patientsMap *ngIf="type == 'patients-map'"></app-list-patientsMap>
</div>
