<figure class="col-xs-4 col-sm-3 col-md-3" 
	[style.background]="getBackground(image)" 
	*ngFor="let image of images; let i=index">
	<span (click)="deleteElement(i)" ></span>
	<label>{{image}}</label>
</figure>