figure {
	width: 24%;
    display: inline-block;
    margin-left: 1%;
    overflow: hidden;
    max-height: 180px;
    position: relative;
    min-height: 180px;
    margin-bottom: 15px;
    
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
label{
    visibility: hidden;
}
span:before{
	text-shadow: 2px 1px 1px #d7d7d7;
	color: red !important;
	right: 10px !important; 
}