<div class="breadcrumb-area text-center mt-70">
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <div class="breadcrumb-table">
                    <div class="breadcrumb-tablecell">
                        <div class="profile-img">
			    <input type="file" id="profile-image" (change)="selectFile($event)" name="image" accept="image/*" capture style="display:none"/>
			    <img [src]="user.image != null ? user.image : defaultImage" (click)="profileImgClick($event)" />
                        </div>
                        <h1 class="user-name">My account</h1>
                        <span>Lorem ipsum dolor sit amet, consectetur .</span>
                    </div>
                </div>
            </div><!-- end col-xs-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end breadcrumb-area -->
<!-- Start account-info-area -->
<div class="account-info-area ptb-50">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <ul class="nav account-info-tabs" role="tablist">
                  <li role="presentation" (click)="changeTab(0)" [ngClass]="{ 'active': tabActive == 0 }">
                    <a  aria-controls="personal" role="tab" data-toggle="tab">Personal</a>
                  </li>
                  <li role="presentation" (click)="changeTab(1)" [ngClass]="{ 'active': tabActive == 1 }">
                    <a aria-controls="password" role="tab" data-toggle="tab">Password</a>
                  </li>
                  <li role="presentation" (click)="changeTab(2)" [ngClass]="{ 'active': tabActive == 2 }">
                    <a aria-controls="advanced" role="tab" data-toggle="tab">Advanced</a>
                  </li>
                  <li role="presentation" (click)="changeTab(3)" [ngClass]="{ 'active': tabActive == 3 }">
                    <a aria-controls="subscription" role="tab" data-toggle="tab">Subscription</a>
                  </li>
              </ul><!-- end nav-tabs -->
              
              <div class="tab-content mt-70 plr-9">
                  <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 0 }">
                      <div class="row">
                          <div class="account-user-form">
                              <form>
				  <div class="col-sm-8">
                                  	<div class="col-sm-6">
                                      		<div class="form-group">
                                         		<h6>Location</h6>
                                         		<select2 [data]="countries" [value]="countrySelected" (valueChanged)="onSelectCountry($event)"></select2>
                                      		</div>
                                  	</div>
                                  	<div class="col-sm-6">
                                      		<div class="form-group">
                                         		<h6>&nbsp;</h6>
                                         		<select2 [data]="regions" [value]="regionSelected" (valueChanged)="onSelectRegion($event)"></select2>
                                      		</div>
                                  	</div>
                                  	<div class="col-sm-6">
                                      		<div class="form-group">
                                            		<select2 [data]="cities" [value]="citySelected" (valueChanged)="onSelectCity($event)"></select2>
                                      		</div>
                                  	</div>
                                  	<div class="col-sm-6">
                                      		<div class="form-group">
                                          		<input type="text"  class="form-control" [(ngModel)]="user.address" name="address" placeholder="Address">
                                      		</div>
                                  	</div>
				  </div>
				  <div class="col-sm-4">
                                  	<div class="col-sm-12">
                                      		<div class="form-group">
                                          		<h6>Pain</h6>
                                          		<select [(ngModel)]="user.pain_type" name="pain_type" class="form-control">
                                            			<option value="0">Type of pain</option>
                                            			<option *ngFor="let item of painTypes" [value]="item.id">{{item.name}}</option>
                                        		</select>
                                      		</div>
                                  	</div>
                                  	<div class="col-sm-12">
                                      		<div class="form-group">
                                          		<select [(ngModel)]="user.pain_level" name="pain_level" class="form-control">
                                            			<option value="0">Level of pain</option>
                                            			<option *ngFor="let item of painLevels" [value]="item.id">{{item.name}}</option>
                                        		</select>
                                      		</div>
                                  	</div>
                                  	<div class="col-sm-12">
                                      		<div class="form-group year-pains">
                                          		<p class="text-left">Number of years with pain</p>
                                          		<div class="form-group">
                                              			<div class="range-slider">
                                                  			<input class="range-slider__range" step="1" type="range" [(ngModel)]="user.pain_years" name="pain_years" min="0" max="10">
                                              			</div>
                                          		</div>
                                      		</div>
                                  	</div>
				  </div>
                              </form>
                          </div>
                      </div>
                      <div class="row">
                          <div class="account-user-form-2">
                              <form action="#" method="post" enctype="multipart/form-data">
                                  <div class="col-sm-12 title">
                                      <div class="form-text text-left form-group user-p">
                                          <h6 class="inline">Usage of painkillers</h6>
                                          <p class="inline medication">¿Usage of painkillers (Medication)?</p>
                                          <div class="radio-btn-group">
                                              <p class="mt3">Yes</p>
                                               <label class="switch">
                                                   <input type="checkbox" [(ngModel)]="user.isPainkillers" [checked]="user.isPainkillers" name="isPainkillers">
                                                   <span class="check-slider round"></span>
                                               </label>
                                               <p class="mt3">No</p>
                                          </div>
                                      </div>
                                  </div>
                                  <ng-container *ngIf="!user.isPainkillers">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select [(ngModel)]="user.usage_painkiller" class="form-control" name="usage_painkiller">
                                                <option value="0">Which ones?</option>
                                                <option *ngFor="let item of painkillers" [value]="item.id">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input [(ngModel)]="user.other_painkiller" type="text" name="other" id="other" class="form-control" required="required" placeholder="Others....">
                                        </div>
                                    </div>
                                </ng-container>
                              </form>
                          </div>
                      </div>
                      <div class="row" style="margin-top: 30px;" *ngIf="!user.usage_painkiller">
                        <ng-container>
                            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let i of user.painkillers">
                                <p>{{i.name}}</p>
                            </div>
                        </ng-container>
                      </div><!-- end row -->
                      <div class="row">
                          <div class="account-user-form-2">
                              <form action="#" method="post" enctype="multipart/form-data">
                                  <div class="col-sm-12 title">
                                      <div class="form-text text-left form-group user-p">
                                          <h6 class="inline">My pain story</h6>
                                          <p class="inline medication">¿ Public or private ?</p>
                                          <div class="radio-btn-group">
                                              <p class="mt3">Private</p>
                                              <label class="switch">
                                                  <input type="checkbox" [checked]="user.public" name="public" [(ngModel)]="user.public">
                                                  <span class="check-slider round"></span>
                                              </label>
                                              <p class="mt3">Public</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-12">
					  <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.story" [innerHTML]="user.story" [ngModelOptions]="{standalone: true}"></div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 text-center">
                              <button (click)="save()" class="save-btn">Save</button>
                          </div>
                      </div><!-- end row -->
                  </div>
                  <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 1 }">
                      <div class="row">
                          <div class="account-user-form">
                              <form>
                                  <div class="col-sm-12">
                                      <div class="form-group">
                                          <h6>New password</h6>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                          <div class="form-group">
                                              <input [(ngModel)]="password.password" type="password" name="password" id="password" class="form-control" required="required" placeholder="Old Password">
                                          </div>
                                      </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
					      <input [(ngModel)]="password.newpassword" type="password" name="newpassword" id="newpassword" class="form-control" required="required" placeholder="New Password">
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <input [(ngModel)]="password.password_confirmation" type="password" name="password_confirmation" id="password_confirmation" class="form-control" required="required" placeholder="Repeat New Password">
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
		      <div class="row">
                          <div class="col-xs-12 text-center">
                              <button (click)="savePassword()" class="save-btn">Save</button>
                          </div>
                      </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 2 }">
                      <div class="row">
                          <div class="tab-advance account-user-form">
                              <form action="#" method="post" enctype="multipart/form-data">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                         <h6>Settings</h6>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-advance form-group">
                                          <h6><i class="fa fa-chain-broken"></i> Desactivate my account</h6>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': tabActive == 3 }">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <p class="text-1">Current subscription</p>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <h6 class="bold inline">Patient FREE ACCOUNT</h6>
                              <h6 class="inline right">¡You have it all!</h6>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <p><strong>Unlimited messages</strong> to other patients </p>
                              <p><strong>Unlimited messages</strong> to Health Pros</p>
                          </div>
                      </div>
                  </div>
              </div><!-- end tab-content -->
          </div><!-- end col-xs-12 -->
      </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end account-info-area -->

<!-- Start advance Area -->
<div class="advance ptb-50" *ngIf="tabActive == 2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="speciality-content">
                    <div class="account-user-form">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                               <h6>Notifications</h6>
                            </div>
                        </form>
                    </div>
                    <ul class="advance-list">
                        <li *ngFor="let i of user.preference">
				<input type="checkbox" [checked]="i.patientpreference_selected" style="display:none;" name="{{i.pkpreference}}" id="{{i.pkpreference}}" (change)="preferenceChange($event)"> 
				<label for="{{i.pkpreference}}"><span></span>{{i.preference_name}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="education-content">
                    <div class="account-user-form">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                               <h6>Loremp Ipsum</h6>
                            </div>
                        </form>
                    </div>
                    <ul class="advance-list">
                            <li>
                                <input type="checkbox"  style="display:none;" id="r2"> 
                                <label for="r2"><span></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                            </li>
                            <li>
                                <input type="checkbox"  style="display:none;" id="r3"> 
                                <label for="r3"><span></span> Lorem ipsum dolor sit amet, consectetur </label>
                            </li>
                            <li>
                                <input type="checkbox" checked style="display:none;" id="r4"> 
                                <label for="r4"><span></span> Lorem ipsum dolor sit ame. </label>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="education-content">
                    <div class="account-user-form">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <h6>Loremp Ipsum</h6>
                            </div>
                        </form>
                    </div>
                    <ul class="advance-list">
                            <li>
                                <input type="checkbox" checked style="display:none;" id="r2"> 
                                <label for="r2"><span></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                            </li>
                            <li>
                                <input type="checkbox"  style="display:none;" id="r3"> 
                                <label for="r3"><span></span> Lorem ipsum dolor sit amet, consectetur </label>
                            </li>
                            <li>
                                <input type="checkbox" checked style="display:none;" id="r4"> 
                                <label for="r4"><span></span> Lorem ipsum dolor sit ame. </label>
                            </li>
                        </ul>
                </div>
	    </div>-->
        </div><!-- end row -->
        <div class="row">
            <div class="col-xs-12 text-center mt-70">
                <button (click)="savePerferences()" class="save-btn">Save</button>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end advance area -->
