<!--start desktop version-->
<section  class="main mt-30">
        <div class="container">
            <div class="row row-eq-height">
                <div id="sidebar" class="col-md-3 section-title sidebar ptb-50" >
                    <div class="show-lt-lg">
                        <a class="closebtn" (click)="closeNav()">&times;</a>
                    </div>
                    
                    <div class="content">
                        <!--<form action="" method="get">-->
                            <div class="mb-40">
                                Order by:
                                <select class="order" [(ngModel)]="order" (ngModelChange)="onFilters($event)">
                                    <option value="0">Best rating</option>
                                    <option value="1">1/5</option>
                                    <option value="2">2/5</option>
                                    <option value="3">3/5</option>
                                    <option value="4">4/5</option>
                                    <option value="5">5/5</option>
                                </select>
                            </div>

                            <div class="mb-40">
                                <div class="tit03 mb-20">Location and distance</div>
                                <select class="form-control" [(ngModel)]="location" (ngModelChange)="onFilters($event)"> 
                                    <option value="0">Location</option>
                                    <option value="30">30 kms</option>
                                    <option value="50">50 kms</option>
                                    <option value="100">100 kms</option>
                                    <option value="150">150 kms</option>
                                    <option value="1000000000000000000">150 kms +</option>
                                </select>
                            </div>

                            <div class="mb-40">
                                <div class="tit03 mb-20">Distance (miles)</div>
                                <div class="mb-20">
					<p-slider [(ngModel)]="distanceRange" [range]="true" [min]="0" [max]="50" [step]="5" (onSlideEnd)="onFilterRanges($event)"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 15 and 45 miles</span>
                            </div>
                            <div class="mb-40">
                                <div class="tit03 mb-20">Type of Healthpros</div>
				<select class="form-control" [(ngModel)]="pros" (ngModelChange)="onFilters($event)">
                                        <option value="0">Type of Healthpros</option>
                                        <option *ngFor="let item of professions" value="{{item.id}}">{{item.text}}</option>
                                </select>
                            </div>
                            <div class="mb-40">
                                <div class="tit03 mb-20">Type of Specialization</div>
				<select class="form-control" [(ngModel)]="spec" (ngModelChange)="onFilters($event)">
                                        <option value="0">Specialization</option>
                                        <option *ngFor="let item of specialities" value="{{item.id}}">{{item.text}}</option>
                                </select>
                            </div>
                        <!--</form>-->
                    </div>
                </div><!-- end col-md-3 -->
                <div class="col-md-9 col-sm-12 col">     
                    <div class="show-lt-lg">
                        <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                            <div class="col-xs-6">
                                <a [routerLink]="['/search/professionals-map']" class="toolbtn"><i class="fa fa-map-marker"></i>  View in map</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="closebtn toolbtn" (click)="openNav()">Filter search</a>
                                <button (click)="mobileSearch()" class="btn-search" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Search</h5>  
                                        <button (click)="mobileCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form (ngSubmit)="onSubmit($event)">
                                            <div class="custom-search-input">
                                                <div class="input-group col-md-12">

                                                    <input [(ngModel)]="textSearch" ngControl="textSearch" type="text" class="form-control input-lg" placeholder="Search by healthpros" [ngModelOptions]="{standalone: true}" />
                                                    <span class="input-group-btn">
                                                        <button class="btn" type="submit">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- end show only md-->
                    <div class="show-gt-lt">
                        <div class="row mb-40">
                            <div class="col-md-8">
                                <form (ngSubmit)="onSubmit($event)">
                                    <div class="custom-search-input">
                                        <div class="input-group col-md-12">
					    <input [(ngModel)]="textSearch" ngControl="textSearch" type="text" class="form-control input-lg" placeholder="Search by healthpros" [ngModelOptions]="{standalone: true}" />
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/search/professionals-map']" class="btn btn-default inverse btn-md pull-right bold"><i class="fa fa-map-marker"></i> View healthpros in map</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-list mb-40">
                        <div class="card mb-40" *ngFor="let i of professionals">
                            <div class="card-body row-eq-height ">
                                <div class="col-sm-3 vertical-center text-center">
                                    <div class="avatar">
					<img [src]="i.image != null ? i.image : defaultImage" />
                                    </div>
                                    <a [routerLink]="['/user/' + i.username]">View profile</a>
                                </div>
                                <div class="col-sm-6 vertical-center">
                                    <strong class="username">{{i.username}}</strong>
                                    <span class="type-specialization">{{i.profession.profession_name}}</span>
				    <p [innerHTML]="i.about.slice(0, 150)"></p><p><a class="read-more" [routerLink]="['/user/' + i.username]">read more</a></p>
                                </div>
                                <div class="col-sm-3 text-right clearfix">
                                    <span class="text-color-primary rating-title">Rating </span>
				    <star-rating [starType]="'svg'" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="i.rating"></star-rating>
                                    
                                    <a [routerLink]="['/message/' + i.username]" class="btn btn-default btn-contact bold" href="">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end container -->
    </section> <!-- end desktop version -->
