.progress-bar{
    width: 100%;
}
.username-sub-title{
    margin-top: 50px;
    color: #333;
}
.username-sub-title i{
    color: #34aad8;
}
.white-tabs {
    padding: 5px 75px;
}
.avatar img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}