<app-navbar></app-navbar>
<div id="home-head">
    <div class="container">
        <div class="content col-md-4 col-sm-8 col-xs-12">
            <h1 class="tit text-bold text-center tit-home">Paindown can help you.</h1>
            <form class="form form-02" action="" method="get">
                <div class="mb-40">
                    <p class="text-center">Find <span class="text-bold">Specialists</span> for you pain/condition</p>
                    <div class="group-container active mb-90">
                        <div class="form-group white-bg">
                            <div class="input-group">
								<ng2-completer [datasource]="proItems" [minSearchLength]="0" placeholder="Pain or illness" class="form-control"></ng2-completer>
                            </div>

                        </div>
                        <button (click)="ProSearch()" class="btn-search t02" data-toggle="modal" data-target="#proModal"><i class="fa fa-search"></i></button>
                    </div>
                    
                    <p class="text-center">Find <span class="text-bold">other patients</span></p>
                    <div class="group-container">
                        <div class="form-group white-bg">
                            <div class="input-group">
								<ng2-completer [datasource]="patItems" [minSearchLength]="0" placeholder="Pain or illness" class="form-control"></ng2-completer>
                            </div>

                        </div>
                        <button (click)="PatSearch()" class="btn-search t02" data-toggle="modal" data-target="#patModal"><i class="fa fa-search"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="ptb-90">
    <div class="container">
        <div class="row row-eq-height" id="img-home-left01">

            <div class="col-sm-6 col-xs-12 md-float-right pr-9">
                <img src="/assets/images/home-01.png" alt="" class="img-outer right"/>
            </div><!-- end col-sm-6 -->
            <div class="col-sm-6 col-xs-12 md-float-left vertical-center ">
                <div class="section-title text-right">
                    <h2 class="md-center">Are you a health professional?</h2>
                    <p class="text-right mb-40">
                        I am a doctor specialist and I would like to join Paindown team
                    </p>
                    <a [routerLink]="['/professional-register']" class="btn btn-default btn-md pull-right btn-extra-width bold">REGISTER HERE</a>
                </div>
            </div><!-- end col-sm-6 -->
        </div><!-- end row -->
    </div><!-- end container -->


</div>


<!-- Start register-area -->
<div class="ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 center-block no-float">
                <div class="section-title text-center mt-30">
                    <h2>Do you <span>suffer from pain?</span></h2>
                </div>
                <p class="mt-70 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum efficitur lacinia. </p>

                <div class="row text-center mt-70">
                    <a [routerLink]="['/register']" class="btn btn-default btn-bg text-bold inverse border-bold">REGISTER HERE</a>
                </div>
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- End register-area -->

<!-- Start about-area -->
<div class="ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="section-title text-center mt-30">
                    <h2>About us</h2>
                </div>
                <p class="mt-70 text-justify em2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum efficitur lacinia. Maecenas posuere consectetur ligula sed consectetur. Suspendisse quis condimentum velit. Nam congue urna lorem, a semper turpis euismod eget. Phasellus varius nunc commodo, malesuada velit eu, laoreet ante. Vivamus vel nunc nulla. Pellentesque vehicula sem nisl, rhoncus facilisis lacus luctus vitae. </p>
                <p class="mt-70 text-justify em2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum efficitur lacinia. Maecenas posuere consectetur ligula sed consectetur. Suspendisse quis condimentum velit. Nam congue urna lorem, a semper turpis euismod eget. Phasellus varius nunc commodo, malesuada velit eu, laoreet ante. Vivamus vel nunc nulla. Pellentesque vehicula sem nisl, rhoncus facilisis lacus luctus vitae. </p>
                <div class="row text-center mt-70">
                    <a [routerLink]="['/about']" class="btn btn-default btn-bg text-bold">See more</a>
                </div>
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- End about-area -->

<!-- Start blog-content-area -->
<div class="blog-content-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="section-title text-center mt-30">
                    <h2><span>Health</span> everyday</h2>
                </div>
            </div><!-- end col-sm-4 -->

        </div><!-- end row -->
    </div><!-- end container -->

    <div class="container mt-30">
        <div class="row">
		<div class="col-sm-4" *ngFor="let i of posts">
		    <a [routerLink]="['/post/' + i.id]">
                    <div class="single-blog-wrapper">
                        <div class="blog-img">
				<img src="{{i.better_featured_image.source_url}}" alt="Blog">
                                <span class="date">{{i.date | date: 'dd MMM yyyy'}}</span>
                        </div>
                        <div class="blog-content p-20">
                                <h4>{{i.title.rendered}}</h4>
                                <p [innerHTML]="i.content.rendered">{{i.content.rendered}}</p>
                        </div>
                    </div><!-- end single-blog-wrapper -->
		    </a>
                </div><!-- end col-sm-4 -->
        </div><!-- end row -->
        <div class="row text-center mt-70">
            <a [routerLink]="['/blog']" class="btn btn-default inverse btn-bg text-bold">See All</a>
        </div>
    </div><!-- end container -->
</div><!-- end blog-content-area -->
<div class="modal fade" id="proModal" tabindex="-1" role="dialog" aria-labelledby="proModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                          
                                        <button (click)="ProCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
										<div class="user-content-wrapper">
                    <div class="user-form-wrapper">
                        <div class="circle-box">
                            <a [ngClass]="{ 'active': tabActive == 0 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 1 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 2 }" class="single-circle-box"></a>
                        </div>
                        <ng-container *ngIf="tabActive == 0">
                            <h4><i class="fa fa-search"></i> Location and distance</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step1Form">

                                <select class="form-control" [(ngModel)]="location" formControlName="location"> 
                                    <option value="0">Location</option>
                                    <option value="30">30 kms</option>
                                    <option value="50">50 kms</option>
                                    <option value="100">100 kms</option>
                                    <option value="150">150 kms</option>
                                    <option value="1000000000000000000">150 kms +</option>
                                </select>
  
                                <div class="tit03 mb-20">Distance (miles)</div>
                                <div class="mb-20">
									<p-slider [(ngModel)]="distanceRange" formControlName="distanceRange" [range]="true" [min]="0" [max]="50" [step]="5"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 15 and 45 miles</span>
                                </form>
                            </div>
                        </ng-container>
						<ng-container *ngIf="tabActive == 1">
                            <h4><i class="fa fa-search"></i> Type of Health Pros</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step2Form">

                                <select class="form-control" [(ngModel)]="pros" formControlName="pros">
                                        <option value="0">Type of Healthpros</option>
                                        <option *ngFor="let item of professions" value="{{item.id}}">{{item.text}}</option>
                                </select>
                                </form>
                            </div>
                        </ng-container>
						<ng-container *ngIf="tabActive == 2">
                            <h4><i class="fa fa-search"></i> Type of Specialization</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step3Form">

                                <select class="form-control" [(ngModel)]="spec" formControlName="spec">
                                        <option value="0">Specialization</option>
                                        <option *ngFor="let item of specialities" value="{{item.id}}">{{item.text}}</option>
                                </select>
                                </form>
                            </div>
                        </ng-container>
                    </div>
                    <div class="arrow-btn-group" [ngClass]="{'w-100': tabActive == 0, 'text-center': tabActive == 2}">
                        <div class="text-left" *ngIf="tabActive > 0 && tabActive != 2">
                            <button type="submit" class="prev-btn" (click)="back()"><i class="fa fa-angle-left"></i> Back</button>
                        </div>
                        <div [ngClass]="{'text-right': tabActive != 2}">
                            <button [ngClass]="{'mr-30': tabActive != 2}"
                            [disabled]="!activeForm.valid" 
                            class="save-btn next-btn" (click)="next()">
                            {{ tabActive == 2 ? "Finish" : "Next" }} <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

<div class="modal fade" id="patModal" tabindex="-1" role="dialog" aria-labelledby="patModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button (click)="PatCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
										<div class="user-content-wrapper">
                    <div class="user-form-wrapper">
                        <div class="circle-box">
                            <a [ngClass]="{ 'active': pattabActive == 0 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': pattabActive == 1 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': pattabActive == 2 }" class="single-circle-box"></a>
							<a [ngClass]="{ 'active': pattabActive == 3 }" class="single-circle-box"></a>
                        </div>
                        <ng-container *ngIf="pattabActive == 0">
                            <h4><i class="fa fa-search"></i> Location and distance</h4>
                            <div class="account-user-form">
                                <form [formGroup]="patstep1Form">

                                <select class="form-control" [(ngModel)]="patlocation" formControlName="patlocation"> 
                                    <option value="0">Location</option>
                                    <option value="30">30 kms</option>
                                    <option value="50">50 kms</option>
                                    <option value="100">100 kms</option>
                                    <option value="150">150 kms</option>
                                    <option value="1000000000000000000">150 kms +</option>
                                </select>
  
                                <div class="tit03 mb-20">Distance (miles)</div>
                                <div class="mb-20">
									<p-slider [(ngModel)]="patdistanceRange" formControlName="patdistanceRange" [range]="true" [min]="0" [max]="50" [step]="5"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 15 and 45 miles</span>
                                </form>
                            </div>
                        </ng-container>
						<ng-container *ngIf="pattabActive == 1">
                            <h4><i class="fa fa-search"></i> Type of pain</h4>
                            <div class="account-user-form">
                                <form [formGroup]="patstep2Form">

                                <select class="form-control" [(ngModel)]="painType" formControlName="painType">
                                    <option value="0">Type of Pain</option>
				    				<option *ngFor="let item of painTypes" value="{{item.id}}">{{item.name}}</option>
                                </select>
                                </form>
                            </div>
                        </ng-container>
						<ng-container *ngIf="pattabActive == 2">
                            <h4><i class="fa fa-search"></i> Usage of painkillers</h4>
                            <div class="account-user-form">
                                <form [formGroup]="patstep3Form" id="painkillersForm">

                                <div class="mb-20">
									<p-radioButton name="painkillers" value="Yes" label="Yes" [(ngModel)]="painkillers" formControlName="painkillers" inputId="opt1" [class]="painKillerRadio"></p-radioButton>
									<p-radioButton name="painkillers" value="No" label="No" [(ngModel)]="painkillers" formControlName="painkillers" inputId="opt2" [class]="painKillerRadio"></p-radioButton>
								</div>
                                </form>
                            </div>
                        </ng-container>
						<ng-container *ngIf="pattabActive == 3">
                            <h4><i class="fa fa-search"></i> Number of years in pain</h4>
                            <div class="account-user-form">
                                <form [formGroup]="patstep4Form">

                                <div class="mb-20">
									<p-slider [(ngModel)]="painRanges" formControlName="painRanges" [range]="true" [min]="0" [max]="50" [step]="5"></p-slider>
                                </div>
                                <span class="text-light" id="distance-filter-value">Between 10 and 20 years</span>
                                </form>
                            </div>
                        </ng-container>
                    </div>
                    <div class="arrow-btn-group" [ngClass]="{'w-100': pattabActive == 0, 'text-center': pattabActive == 3}">
                        <div class="text-left" *ngIf="pattabActive > 0 && pattabActive != 3">
                            <button type="submit" class="prev-btn" (click)="patback()"><i class="fa fa-angle-left"></i> Back</button>
                        </div>
                        <div [ngClass]="{'text-right': tabActive != 3}">
                            <button [ngClass]="{'mr-30': pattabActive != 3}"
                            [disabled]="!patactiveForm.valid" 
                            class="save-btn next-btn" (click)="patnext()">
                            {{ pattabActive == 3 ? "Finish" : "Next" }} <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
