.user-content-wrapper h4, .circle-box {
	text-align: center;
}

.user-content-wrapper {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.user-content-wrapper h4 .fa {
	padding-right: 20px;
}

.user-content-wrapper .mb-20 {
	margin-top: 20px;
}

#painkillersForm {
	text-align: center;
}

p-radioButton {
	display: inline-block;
	font-size: 18px;
}

p-radioButton:first-child {
	margin-bottom: 0px;
	margin-right: 20px;
}

p-radioButton:nth-child(2) {
	margin-bottom: 0px;
}

ng2-input-autocomplete { display: none; }

input.completer-input {
	height: auto !important;
	border: 0px !important;
	width: 100% !important;
}