body {
	font-family: 'Montserrat-Regular';
}
.body-widget {
	width:100%;
}
.footer-new {
	background:#00acde;
	padding:4em 0;
}
#footer-new p {
	font-size:13px;
	padding:0 0 30px 0;
	margin:0;
	color:#bcddf1;
	line-height:25px;
}
#footer-new p:last-child {	
	padding:0 0 0 0;
	margin:0;
}
.footer-title {
	font-size:16px;
	color:#fff;
	padding:0 0 20px 0;
	margin:0;
	text-transform:uppercase;
}
#footer-new li {
	width:100%;
	padding-bottom:10px;
}
.footer-link {
	color:#bcddf1;
	font-size:13px;
}
.footer-link:hover {
	color:#fff;
	text-decoration:none;
	transition:all 0.5s ease;
}
.footer-link:focus {
	color:#fff;
	text-decoration:none;
	transition:all 0.5s ease;
}
.service-widget {
	width:100%;
	padding:0 0 0 50px;
}
.footer-social a {
	width:30px;
	height:30px;
	display:inline-block;
	background:#fff;
	border-radius:50%;
	line-height:30px;
	text-align:center;
	margin:0 15px 0 0;
	color:#00acde;
}
.footer-social a:hover {
	background:#00627e;
	transition:all 0.5s ease;
	color:#fff;
}
.footer-social a:focus {
	background:#00627e;
	transition:all 0.5s ease;
	color:#fff;
}
.footer-social a:last-child {
	margin:0 0 0 0;
}
.copy-big {
	text-transform:uppercase;
}
.send-message {
	padding:4em 0;
	background:#fcfcfc;
}
.middle-area {
	/*background:#fcfcfc;*/
	background:#fcfcfc;
	padding:0 0 4em 0;
}
.white-tabs {
	width:100%;
	padding:40px 60px;
	background:#fff;	
}
.heading-title {
	font-size:14px;
	color:#06b6d8;
	padding:0 0 25px 0;
	margin:0;
}
.map-icons {
	color:#06b6d8;
	margin:0 10px 0 0;
}
#middle-area p {
	font-size:14px;
	padding:0 0 15px 0;
	margin:0;
	color:#727272;
	line-height:27px;
}
.repeat-middle {
	width:100%;
	margin:0 0 10px 0;
}
.left-menu {
	width:100%;
}
.left-menu i {
	color:#06b6d8;
	margin:0 15px 0 0;
}
.left-title {
	font-size:16px;
	font-weight:bold;
	color:#34aad7;
	display:inline-block;
	padding:0;
	margin:0;
}
.tabs-widget {
	width:100%;
}
#middle-area .nav>li>a {
	width:215px;
	text-align:center;
	padding:16px 15px;
	color:#727272;
	font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
#middle-area .nav>li>a i {
	color:#727272;
}
#middle-area .nav>li>a:hover {
	background:#fff;
	transition:all 0.5s ease;
}
#middle-area .nav>li>a:focus {
	background:#fff;
	transition:all 0.5s ease;
}

#middle-area .nav-pills>li.active>a {
	background:#fff;
	color:#34aad7;
}
#middle-area .nav-pills>li.active>a i {	
	color:#34aad7;
}
#middle-area .nav-pills>li.active>a:hover {
	background:#fff;
	color:#34aad7;
}
.top-widget {
	width:100%;
}
.top-widget i {
	color:#06b6d8;
	margin:0 10px 0 0;
}
.send-widget {
	width:100%;
	margin:50px 0 0 0;
}

/*start top menu */
.nav-new {
  display: block;
  background: #fff;
  padding:5px 0;
}
.nav-new ul {
	margin-bottom:0;
}
.menu-new { display: block; }

.menu-new li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.menu-new li:first-child { margin-left: 0; }

.menu-new li a {
  font-weight: normal;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  color: #727272;
  font-size:14px;
  transition: all 0.2s ease-in-out 0s;
}

.menu-new li a:hover,
.menu-new li:hover>a {
  color: #06b6d8;  
}

.menu-new ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  left: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0, 20px);
  transition: all 0.2s ease-out;
}

.menu-new ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.menu-new ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu-new ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  background: #fff;
}

.menu-new ul li a:hover,
.menu-new ul li:hover>a {
  background: #FC6D58;
  color: #fff;
}

.menu-new li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu-new ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu-new ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.menu-new li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #E95546;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  background: #E95546;
  color: #fff;
  text-decoration: none;
}

a.homer { background: #FC6D58; }
 @media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu-new ul { top: 37px; }

.menu-new li a { font-size: 12px; }

a.homer { background: #E95546; }
}
 @media (max-width: 767px) {

.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.menu-new { display: none; }

.responsive-menu { display: block; }

.nav-new {
  margin: 0;
  background: none;
}

.menu-new li {
  display: block;
  margin: 0;
}

.menu-new li a {
  background: #fff;
  color: #797979;
}

.menu-new li a:hover,
.menu-new li:hover>a {
  background: #FC6D58;
  color: #fff;
}

.menu-new ul {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}

.menu-new li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}

.menu-new ul ul {
  left: 0;
  transform: initial;
}

.menu-new li>ul ul:hover { transform: initial; }
}
.top-menu-right {
	width:100%;
	text-align:right;
}
.logo {
	margin:10px 0 0 0;
}
#main-nav {
	display:none;
}
.mobile-logo {
	width:200px;
	position:absolute;
	top:8px;
	left:5px;
}
/*end top menu*/



/*start mobiel tabs */

#mobile-middle-area .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
#mobile-middle-area .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
#mobile-middle-area .panel-title > a:hover, 
#mobile-middle-area .panel-title > a:active, 
#mobile-middle-area .panel-title > a:focus  {
    text-decoration:none;
}
.mobile-middle-area {
	display:none;
	background:#fcfcfc;
	padding:3em 0;
}
.mobile-middle-area i {
	color:#727272;
	margin:0 10px 0 0;
}
#mobile-middle-area .panel-default>.panel-heading {
	color:#727272;
	padding:15px;
}
.tabs-new-widget {
	width:100%;
}
#mobile-middle-area p {
	font-size:14px;
	padding:0 0 15px 0;
	margin:0;
	color:#727272;
	line-height:27px;
}
/*end mobile tabs*/

.username-banner {
	background:#06b6d8;
	padding:5em 0;
}
.user-widget {
	width:100%;
	margin:-100px 0 0 0;
}
.username-area {
	background:#fcfcfc;
}
#username-area .img-responsive {
	border-radius:50%;
	width:190px;
	height:190px;
	object-fit:contain;
}
.back-widget {
	width:100%;
}
.back-widget i {
	color:#fff;
	font-size:20px;
	margin:70px 0 0 0;
}
#username-area .col-sm-1 {
	width:4.33333333%;
}
#username-area .col-sm-3 {
	width:20%;
}
#username-area .col-sm-4 {
	width:37.333333%;
}
.username-title {
	font-size:20px;
	color:#fff;
	padding:0 0 10px 0;
	margin:0;
}
.username-sub-title {
	font-size:14px;
	color:#d0edf5;
	padding:0;
	margin:0;
}
.top-user {
	width:100%;
	margin:40px 0 0 0;
}
.share-link {
	display:inline-block;
	padding:0 0 0 25px;
	color:#fff;
}
.review-top {
	width:100%;
	background:#fff;
	border-radius:25px;
	margin:70px 0 0 0;
	padding:12px 30px;
}
.top-link {
	font-size:12px;
	text-transform:uppercase;
	color:#06b6d8;
	font-weight:bold;
}
.top-link:hover {
	color:#727272;
	text-decoration:none;
	transition:all 0.5s ease;
}
.top-link:focus {
	color:#727272;
	text-decoration:none;
	transition:all 0.5s ease;
}
.top-link i {
	margin:0 10px 0 0;
}
.top-icons {
	color:#06b6d8!important;
	font-size:16px!important;
}
.top-icons:hover {
	color:#727272!important;
	font-size:16px!important;
}
.top-icons1 {
	color:#727272!important;
	font-size:16px!important;	
}
.top-icons1:hover {
	color:#06b6d8!important;
	font-size:16px!important;	
}