/*
***************************************************************
***************************************************************

Template Name  : PALNDOWN | Bootstrap Responsive HTML5 template
Author         : Golam
Author URI     : https://golamnabiwp.com/user/templatehut/portfolio
File           : Responsive.css


***************************************************************
***************************************************************
*/

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .mainmenu .navbar-nav > li > a {
        padding: 5px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu .navbar-nav > li > a {
        padding: 5px 7px;
    }
    .mainmenu .navbar-nav > li > a.login {
        margin-left: 0;
    }
    .mainmenu .navbar-nav > li > a.msg,
    .mainmenu .navbar-nav > li > a.account {
        padding: 5px 10px;
        font-size: 14px;
    }
    .account-info-tabs > li > a,
    .personal-info-tabs > li > a {
        padding: 16px 30px;
    }
    .section-title h2 {
        font-size: 26px;
    }
    .single-widget {
        overflow: hidden;
        min-height: 210px;
    }
    .copyright-text {
        text-align: center;
    }
}




@media only screen and (max-width: 767px) {
    .header-area {
        padding: 0;
        position: fixed;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
    .logo {
        padding: 24px 0;
    }
    .navbar-header {
        position: absolute;
        top: -60px;
        right: 0;
    }
    .mainmenu .navbar-toggle {
        background-color: #06B6D8;
    }
    .mainmenu .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .mainmenu .navbar-nav > li > a {
        padding: 10px 21px;
    }
    .mainmenu .navbar-nav > li > a.login {
        margin: 10px 0 10px 20px;
        display: inline-block;
        padding: 5px 20px;
    }
    
    .pl-40 {
        padding-left: 0px;
    }
    .single-widget {
        margin-bottom: 30px;
    }
    .breadcrumb-area .breadcrumb-table {
        height: 150px;
    }
    .ptb-90 {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .account-info-tabs > li > a,
    .personal-info-tabs > li > a {
        padding: 8px 8px;
        font-size: 10px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-group h6 {
        margin-bottom: 10px;
    }
    .personal-info-area,
    .speciality-education-area {
        padding-top: 0;
    }
    .personal-info-tabs > li > a {
        padding: 8px 9px;
        margin-right: 0;
        font-size: 10px;
    }
    .mt-70 {
        margin-top: 30px;
    }
    .white-bg {
        padding: 16px;
    }
    .speciality-education-list {
        margin-top: 10px;
    }
    .speciality-content {
        margin-bottom: 40px;
    }
    .account-info-area .plr-9 {
        padding: 0;
    }
    
    
    
    .card-list .rating-title{float: left; margin-right: 10px; line-height: 40px}
    .card-list .rating-input{float: left; margin-left: 10px; line-height: 40px}
    .card-list .btn-contact{position: static; float: right;}


}
@media all and (max-width: 2050px) {

    .header-area.collapsed .logo{
        float: left;
        margin-right: 25px;
    }

    .header-area.collapsed .navbar-header {
        float: none;
    }
    .header-area.collapsed   .navbar-left, .header-area.collapsed  .navbar-right {
        float: none !important;
    }
    .header-area.collapsed .navbar-toggle {
        display: block;
    }
    .header-area.collapsed .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .header-area.collapsed .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .header-area.collapsed .navbar-collapse.collapse {
        display: none!important;
    }
    .header-area.collapsed .collapsed .navbar-collapse {
        float: none!important;
        margin-top: 7.5px;
    }
    .header-area.collapsed .navbar-nav>li {
        float: none;
    }
    .header-area.collapsed .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-area.collapsed .collapse.in{
        display:block !important;
    }


    .header-area.collapsed .navbar-header {
        float: none;
    }
    .header-area.collapsed  .navbar-header .navbar-toggle {
        display: block;
    }
    .header-area.collapsed  .navbar-header .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .header-area.collapsed  .navbar-header .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .header-area.collapsed  .navbar-header .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .header-area.collapsed  .navbar-header .navbar-nav>li {
        float: none;
    }
    .header-area.collapsed  .navbar-header .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-area.collapsed  .navbar-header .collapse.in{
        display:block !important;
    }


    .header-area.collapsed  .mainmenu .navbar-toggle {
        background-color: #06B6D8;
    }
    .header-area.collapsed  .mainmenu .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .header-area.collapsed .navbar-header {
        position: absolute;
        top: -65px;
        right: 0;
    }


    .header-area.collapsed{padding: 0}


    .header-area.collapsed .mainmenu,
    .header-area.collapsed .navbar-collapse.in {
        background-color: rgba(0, 0, 0, .6);
    }

    .header-area.collapsed .logo{
        padding: 24px 0;
    }

}

@media only screen and (min-width: 768px){
    .header-area.collapsed .menu-container{
        width: 100%;

    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .breadcrumb-area .breadcrumb-table {
        height: 220px;
    }
    .ptb-90 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .account-info-tabs > li > a,
    .personal-info-tabs > li > a {
        padding: 10px 15px;
        font-size: 14px;
    }
    .personal-info-tabs > li > a {
        padding: 10px 15px;
        margin-right: 20px;
        font-size: 14px;
    }
    .mt-70 {
        margin-top: 50px;
    }
    .white-bg {
        padding: 25px;
    }
    .personal-info-area,
    .speciality-education-area {
        padding-top: 20px;
    }
}


@media all and (max-width:991px) {
    #main-nav {
        display:block!important;
    }
    #desktop-view {
        display:none;
    }
    .mobile-middle-area {
        display:block;
    }

    .show-lt-lg{
        display: block;
    }

    .show-gt-lt{
        display: none;
    }

    .middle-area {
        display:none;
    }
    #username-area .col-sm-1 {
        width:100%;
    }
    #username-area .col-sm-3 {
        width:100%;
    }
    #username-area .col-sm-4 {
        width:100%;
    }
    .user-widget {
        text-align:center;
    }
    #username-area .img-responsive {
        margin:0 auto;
    }
    .user-widget {
        margin: -190px 0 0 0;
    }
    .back-widget i {
        margin:70px 0 10px 0;
    }
    #username-area .col-md-6 {
        width:50%;
        float:left;
    }
    .review-top {
        margin:25px 0 20px 0
    }
    .footer-social a {
        width:25px;
        height:25px;
        line-height:25px;
        margin:0 0 0 0;
    }
    .service-widget {
        padding:0;
    }
    .username-title {
        color:#000;
    }
    .username-sub-title {
        color:#333;
    }
    .share-link {
        color:#06b6d8;
    }
    .share-link:hover {
        color:#037287;
        transition:all 0.5s ease;
    }

    .comments-heading .tools{
        text-align: left;
    }

    .sidebar {
        padding: 40px 0!important;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        bottom: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        overflow-y: scroll;

    }

    .sidebar .content{
        padding: 20px;
    }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 20px;
        right: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        display: block;
	cursor: pointer;
    }

    .sidebar.expanded{
        width: 320px;
	z-index: 9999;
    }
    .medication{
        margin-top: 0px;
    }
    
    
    .pm-l-30{
        padding-left: 30px;
    }

}

@media all and (max-width:768px) {
    .service-widget {
        padding:20px 0 0 0;
    }
    .footer-social a {
        width:30px;
        height:30px;
        line-height:30px;
        margin:0 15px 0 0;
    }

    .pl-9{padding-left: 15px;}
    .pr-9{padding-right: 15px;}
    .md-center{text-align: center;}
    .img-outer{float: none; margin: 0 auto; transform: none; display: block; max-width: 100%}
    .img-outer.right{float: none}
    .img-outer.left{float: none}

    .row{
        margin-left: 0;
        margin-right: 0
    }
    .medication{
        margin-top: 0px;
    }

    .card-list.t02  .avatar{position: static; margin:  0 auto; }
    .xs-center-text{text-align:center}

}
@media all and (max-width:504px) {
    #username-area .col-md-6 {
        width:100%;	
        border: none;
    }
    .top-link {
        display:inline-block;
        margin:0 0 10px 0;
    }
    .top-link::last-child {
        display:inline-block;
        margin:0 0 0 0;
    }


}

@media all and (max-width:1199px) { 
    .top-link {
        font-size:11px;
    }
}



@media (min-width: 768px){
    .md-float-right{
        float: right;
    }

    .md-float-left{
        float: left;
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }

    .row-eq-height .vertical-center{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    #about-01-left:after{display: block;}


}

