/*
***************************************************************
***************************************************************

Template Name  : PALNDOWN | Bootstrap Responsive HTML5 template
Author         : Golam
Author URI     : https://golamnabiwp.com/user/templatehut/portfolio
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may be need to edit this file to change your content style.
This files contents are outlined below

***************************************************************
***************************************************************

=========== INDEX PAGE CSS ====================
-----------------------------------------------

*** - 1. Template Default Css
*** - 2. Template Transition Css
*** - 3. Header Area Css
        - # Logo css
        - # Mainmenu css
*** - 4. Breadcrumb Area Css
*** - 5. Blog Content Area Css
*** - 6. Footer Area Css
*/

/*
=========----------------------------------=========
1.Template Default Css     
=========----------------------------------=========
*/

.completer-input {
	height: 30px;
	border: 0px;
	width: 100%;
	color: #727272;
}

html,
body {
    /*height: 100%;
    overflow-x: hidden;*/
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    color: #727272;
}

.accordion-toggle .btn, .accordion-toggle .btn:hover, .accordion-toggle .btn:focus {
	padding: 0px !important;
	text-transform: capitalize !important;
	color: #727272 !important;
	text-decoration: none !important;
}

.accordion-toggle .btn h4 {
	text-align: left !important;
}

.panel .accordion-toggle .btn h4 span:before {
	float: right !important;
	font-family: FontAwesome;
    	content: "\f068";
    	padding-right: 5px;
}
.panel.panel-open .accordion-toggle .btn h4 span:before {
	float: right !important;
    	content: "\f067";
}

.gm-style {

	font: unset !important;

}

.gm-style .gm-style-iw {

	font-weight: unset !important;
	font-size: unset !important;
	z-index: 99999999 !important;

}


.gm-style .mb-40 {

	margin-bottom: 0px;

}

.gm-style .card-list .card {

	border: 0px;

}

body a {
	color: #727272;
}

body a:hover {
	color: #727272;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin: 0 0 14px;
}

p {
    margin: 0 0 14px;
}

a {
    text-decoration: none;
    color: #06b6d8;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

a {
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    margin: 0;
    border: inherit;
}

ul.navbar-nav li a:hover {
    background-color: inherit;
}

.breadcrumb-table {
    display: table;
    width: 100%;
}

.breadcrumb-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.p-20 {
    padding: 20px;
}

.ptb-90 {
    padding-bottom: 90px;
    padding-top: 90px;
}

.pl-40 {
    padding-left: 40px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.plr-9 {
    padding: 0 9%
}

.pl-9{
    padding-left: 9%;
}

.pr-9{
    padding-right: 9%;
}

.mr-10{
    margin-right: 10px;
}

.pr-5{
    padding-right: 5%;
}

.mt-30 {
    margin-top: 30px;
}

.mt-70 {
    margin-top: 70px;
}

.section-title {
    overflow: hidden;
}

.section-title h2 {
    font-size: 30px;
}

.section-title h2 span {
    font-weight: 600;
}

.section-title p {
    text-align: justify;
    letter-spacing: -.75px;
    line-height: 30px;
    font-weight: 500;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
}

input,
select,
button {
    outline: 0;
}

input,
select,
.form-control {
    color: #a8a8a8;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-radius: 0;
    height: 45px;
}


.custom-check {
    position: relative;
    margin-top: 10px;
    width: 20px;
}

.custom-check label {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.custom-check label:after {
    border: 3px solid #34aad7;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;
}

.custom-check input[type="checkbox"] {
    visibility: hidden;
}

.custom-check input[type="checkbox"]:checked + label {
    border-color: #34aad7;
}

.custom-check input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


.white-bg {
    background-color: #fff;
    padding: 30px;
}

.white-bg p:last-child {
    margin: 0;
}


.line-sep{padding-top: 30px; border-bottom: 1px solid #ddd; margin-bottom: 30px}


/*
=========----------------------------------=========
2. Template Transition Css 
=========----------------------------------=========
*/

/*
=========----------------------------------=========
3. Header Area Css  
=========----------------------------------=========
*/

.blog-text {
	padding-top: 20px;
}

@media(min-width:768px) {

	.blog-text {
		padding-top: 0px;
	}

}

app-navbar-list, app-navbar {
	height: 59px;
	display: inline-block;
}

.header-area {
    padding: 17px 0;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1), 0px 0px 5px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1), 0px 0px 5px 1px rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.header-area.inverse{
    background: #06b6d8;
}

.header-area.inverse .mainmenu .navbar-nav > li > a{
    color: #fff!important;
}

.nav-absolute{
    position: absolute;
    top: -60px;
    right: 80px;
}

.header-area.collapsed .navbar-nav.nav-absolute>li{
    float: left;
}
/**
* Logo css
*========================
*/

/**
* Mainmenu css
*========================
*/

.mainmenu .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 500;
    color: #727272;
    padding: 5px 21px;
    line-height: 1.5em;
}

.mainmenu .navbar-nav > li:hover > a,
.mainmenu .navbar-nav > li.active > a {
    color: #06b6d8;
}

.mainmenu .navbar-nav > li > a.login {
    border: 1px solid #06b6d8;
    color: #06b6d8;
    border-radius: 24px;
    margin-left: 10px;
}

.mainmenu .navbar-nav > li > a.login:hover {
    background-color: #06b6d8;
    border: 1px solid transparent;
    color: #fff;
}

.mainmenu .navbar-nav > li > a.msg,
.mainmenu .navbar-nav > li > a.account {
    padding: 2px 30px;
    font-size: 18px
}

.mainmenu .navbar-nav > li > a.msg > i {
    position: relative;
}

.mainmenu .navbar-nav > li > a.msg > i:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF027A;
    top: -3px;
    right: -5px;
    content: '';
    border-radius: 50%;
}



/*
=========----------------------------------=========
4. Breadcrumb Area Css   
=========----------------------------------=========
*/

.breadcrumb-area {
    overflow: hidden;
}

.breadcrumb-area .breadcrumb-table {
    height: 200px;
}

.breadcrumb-area h1 {
    font-size: 30px;
    margin-bottom: 6px;
}

.breadcrumb-area span {
    font-size: 16px;
    display: block;
}

.breadcrumb-area h1,
.section-title h2,
.blog-content h4 {
    color: #06b6d8;
}

.breadcrumb{
    background: transparent;
    font-size: 16px;
    padding-left: 0;
}

.tab-pane .breadcrumb{margin-bottom: 0}

.breadcrumb-item:first-child{
    font-weight: bold;
}

.breadcrumb-item{
    color: #06b6d8;
}

.breadcrumb-item .sep{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}

.profile-img {
    margin: 0 auto;
}

.profile-img,
.profile-img > img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.user-name {
    letter-spacing: -2px;
    font-weight: 600;
}

/*
=========----------------------------------=========
5. Blog Content Area Css
=========----------------------------------=========
*/

.single-blog-wrapper {
    overflow: hidden;
    margin-top: 50px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    border-radius: 4px;
    ;
    -webkit-transition: -webkit-transform 200ms linear 0s;
    ;
    transition: -webkit-transform 200ms linear 0s;
    ;
    transition: transform 200ms linear 0s;
    transition: transform 200ms linear 0s, -webkit-transform 200ms linear 0s;
}

.blog-img {
    position: relative;
    overflow: hidden;
}

.blog-img > img {
    width: 100%;
    height: auto;
}

.blog-img > span {
    position: absolute;
    top: 37px;
    left: 0;
    color: #fff;
    display: inline-block;
    background-color: #00ABDA;
    padding: 4px 20px;
    -webkit-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
}

.blog-content h4,
.blog-content p {
    line-height: 30px;
    letter-spacing: -.75px;
}

.blog-content h4 {
    font-weight: 600;
    letter-spacing: -1.1px;
    margin-bottom: 8px;
}

.blog-content p {
    font-size: 16px;
}

.single-blog-wrapper:hover {
    -webkit-transform: scaleY(1.03);
    transform: scaleY(1.03);
}

.single-blog-wrapper:hover .blog-img > span {
    background-color: #00DBD1;
}

/*
=========----------------------------------=========
5. Account Info Area Css
=========----------------------------------=========
*/

.account-info-tabs {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.account-info-tabs > li,
.personal-info-tabs > li {
    display: inline-block;
}

.account-info-tabs > li > a,
.personal-info-tabs > li > a {
    color: #727272;
    padding: 25px 55px;
    cursor: pointer;
}

.account-info-tabs > li.active > a,
.personal-info-tabs > li.active > a {
    color: #06B6D8;
}

.form-group h6 {
    color: #06B6D8;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
}

.tab-text p {
    line-height: 30px;
}

/*
=========----------------------------------=========
6. Personal Info Area Css
=========----------------------------------=========
*/

.personal-info-area {
    background-color: #fbfbfb;
    padding-bottom: 70px;
}

.personal-info-tabs > li > a {
    padding: 16px 10px;
    margin-right: 50px;
}

.personal-info-tabs > li.active > a {
    position: relative;
}

.personal-info-tabs > li.active > a:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #06B6D8;
}

/*
=========----------------------------------=========
7. Speciality Education Area Css
=========----------------------------------=========
*/

.speciality-education-list {
    margin-top: 40px;
}

.speciality-education-list > li > a {
    color: #a8a8a8;
    line-height: 1.5em;
    padding: 10px 0;
    position: relative;
}

.speciality-education-list > li > a:before {
    position: absolute;
    content: "\f00d";
    top: 10px;
    right: -32px;
    font-family: FontAwesome;
    color: #dedede;
}

.save-btn,
button {
    text-transform: uppercase;
    background-color: #00B7DA;
    border: inherit;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 40px;
    -webkit-transition: .3s;
    transition: .3s;
}

.save-btn:hover,
button:hover {
    background-color: transparent;
    border: 1px solid #00B7DA;
    color: #00B7DA;
}


/*
=========----------------------------------=========
5. User Account Area Css
=========----------------------------------=========
*/

.user-account-area {
    padding-top: 0;
}

.user-content-wrapper {
    -webkit-box-shadow: 0px 1px 20px 0px #aecdde;
    box-shadow: 0px 1px 20px 0px #aecdde;
    overflow: hidden;
    border-radius: 5px;
}

.user-form-wrapper {
    padding: 40px 20%;
    overflow: hidden;
}

.circle-box {
    overflow: hidden;
}

.single-circle-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E5E5E5;
    display: inline-block;
    margin-right: 6px;
}

.single-circle-box.active {
    background-color: #0099C0;
}

.user-content-wrapper h4 {
    color: #0099C0;
    font-weight: 600;
}

.account-user-form .info > i {
    color: #00ABDA;
    margin-right: 7px;
}

.user-content-wrapper h4,
.user-content-wrapper .account-user-form,
.user-content-wrapper .account-user-form .form-group,
.account-user-form p {
    margin-top: 25px;
}

.user-content-wrapper .account-user-form .form-group {
    position: relative;
}

.user-content-wrapper .account-user-form .form-group .icon {
    position: absolute;
    left: 25px;
    top: 23px;
    margin-top: -10px;
    color: #444;
    /*border-right: 1px solid rgba(0, 0, 0, .1);*/
    padding-right: 13px;
}

.user-content-wrapper .account-user-form .form-group input[name="username"], 
.user-content-wrapper .account-user-form .form-group input[name="password"]{
    padding: 0 10px 0 64px;
}

.save-btn,
button {
    text-transform: uppercase;
    background-color: #00B7DA;
    border: inherit;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 40px;
    -webkit-transition: .3s;
    transition: .3s;
}

.save-btn:hover,
button:hover {
    background-color: transparent;
    border: 1px solid #00B7DA;
    color: #00B7DA;
}

.next-btn,
.prev-btn {
    margin: 10px 0 40px 0;
    position: relative;
    padding: 10px 60px;
}

.prev-btn {
    margin: 10px 0px 40px 30px;
}

.next-btn > i,
.prev-btn > i {
    position: absolute;
    top: 50%;
    right: 24px;
    font-size: 18px;
    margin-top: -10px;
}

.prev-btn > i {
    right: auto;
    left: 24px;
}

.user-form-wrapper.location {
    padding: 40px;
}

.location .form-group {
    margin-bottom: 0;
}

.arrow-btn-group > div {
    width: 50%;
    float: left;
}

button.prev-btn {
    background: inherit;
    color: #d0cece;
}

button.prev-btn:hover {
    color: #00B7DA;
}


.range-slider {
    margin: 60px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 5px;
    border-radius: 5px;
    background: #0099C0;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C80D65;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.form-text p,
.radio-btn-group {
    display: inline-block;
}

.form-text > p {
    overflow: hidden;
}

.radio-btn-group > p {
    margin: 0 5px 0;
    height: 28px;
    overflow: hidden;
}

.radio-btn-group {
    height: 37px;
    overflow: hidden;
}
.user-p .radio-btn-group{
    margin-top: -1px;
    display: inline-flex;
}

/**
* Radio Button Css
*================================
*/

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    display: none;
}

.check-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
}

.check-slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: #00ABDA;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .check-slider {
    background-color: #EEEEEE;
}

input:focus + .check-slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .check-slider:before {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */

.check-slider.round {
    border-radius: 34px;
}

.check-slider.round:before {
    border-radius: 50%;
}

.terms-condition {
    overflow: hidden;
    border: 1px solid #E9E9E9;
    text-align: justify;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
}

.terms-condition p {
    padding: 0 30px;
    color: #a8a8a8;
}

.terms-condition {
}

.terms-condition::-webkit-scrollbar-track {
}

.terms-condition::-webkit-scrollbar-thumb {
	background-color: rgba(0,171,218,0.5);
	border-radius: 7px;
}

.terms-condition::-webkit-scrollbar {
	width: 7px;
}

.simplebar-scrollbar {
    background: #00ABDA;
}

.arrow-btn-group.text-center > div {
    width: 100%;
}

.fa-4 {
    font-size: 7em;
    margin-top: 30px;
}

.account-user-form .fa-heartbeat,
.fa-4,
.account-user-form h2,
.account-user-form h5 {
    color: #00ACDE;
}

.account-user-form h2 {
    font-size: 36px;
    font-weight: 600;
}

.account-user-form h5 {
    font-weight: 500;
    margin-bottom: 25px;
}

.w-100 > div {
    width: 100%;
}

/*
=========----------------------------------=========
6. Footer Area Css
=========----------------------------------=========
*/

.footer-area {
    background-color: #00ACDE;
    color: #fff;
    padding-bottom: 70px;
}

.about > p {
    font-size: 12px;
    line-height: 30px;
}

.widget-menu-list > li > a {
    color: #fff;
    line-height: 2em;
    font-size: 12px;
}

.widget-menu-list > li:hover > a {
    opacity: .7;
}

.social-link > a {
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #fff;
    color: #00ACDE;
    font-size: 18px;
    border-radius: 50%;
    line-height: 38px;
    margin-right: 14px;
}

.social-link > a:hover {
    background-color: #00D6D2;
    color: #fff;
}

.copyright-text {
    margin: 30px 0 0;
}




/*start mobiel tabs */
#mobile-middle-area .panel-title > a{
    display: block;
}
#mobile-middle-area .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
#mobile-middle-area .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
#mobile-middle-area .panel-title > a:hover, 
#mobile-middle-area .panel-title > a:active, 
#mobile-middle-area .panel-title > a:focus  {
    text-decoration:none;
}


.mobile-middle-area {
    display:none;
    background:#fcfcfc;
    padding:3em 0;
}
.mobile-middle-area i {
    color:#727272;
    margin:0 10px 0 0;
}
#mobile-middle-area .panel-default>.panel-heading {
    color:#727272;
    padding:15px;

}

.show-lt-lg{
    display: none;
}

.show-gt-lt{
    display: block;
}

.tabs-new-widget {
    width:100%;
}


.white-tabs{
    background: #fff;
    padding: 40px 75px;
}

#mobile-middle-area p {
    font-size:14px;
    padding:0 0 15px 0;
    margin:0;
    color:#727272;
    line-height:27px;
}
/*end mobile tabs*/

.username-banner {
    background:#06b6d8;
    padding:5em 0;
}
.user-widget {
    width:100%;
    margin:-100px 0 0 0;
}
.username-area {
    background:#fcfcfc;
}
#username-area .img-responsive {
    border-radius:50%;
    width:190px;
    height:190px;
    object-fit:cover;
}
.back-widget {
    width:100%;
}
.back-widget i {
    color:#fff;
    font-size:20px;
    margin:70px 0 0 0;
}
#username-area .col-sm-1 {
    width:4.33333333%;
}
#username-area .col-sm-3 {
    width:20%;
}
#username-area .col-sm-4 {
    width:37.333333%;
}
.username-title {
    font-size:20px;
    color:#fff;
    padding:0;
    margin:0;
    font-weight: 300;
}
.username-sub-title {
    font-size:14px;
    color:#d0edf5;
    padding:0;
    margin:0;
    font-weight: 300;
}

.map-icons {
    color:#06b6d8;
    margin:0 10px 0 0;
}
#middle-area p {
    font-size:14px;
    padding:0 0 15px 0;
    margin:0;
    color:#727272;
    line-height:27px;
}
.repeat-middle {
    width:100%;
    margin:0 0 10px 0;
}
.left-menu {
    width:100%;
}
.left-menu i {
    color:#06b6d8;
    margin:0 15px 0 0;
}
.left-title {
    font-size:16px;
    font-weight:bold;
    color:#34aad7;
    display:inline-block;
    padding:0;
    margin:0;
}
.tabs-widget {
    width:100%;
}

#middle-area .nav.t02>li{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

#middle-area .nav.t02>li>a {
    text-align:center;
    padding:16px 80px;
    color:#727272;
    font-size:14px;

}

#middle-area .nav.t02>li:last-child>a{
    padding-right: 130px;
} 

#middle-area .nav.t02>li>a:before{
    display: none;
}

#middle-area .nav.t02>li>a i {
    color:#727272;
}
#middle-area .nav.t02>li>a:hover {
    background:#fff;
    transition:all 0.5s ease;
}
#middle-area .nav.t02>li>a:focus {
    background:#fff;
    transition:all 0.5s ease;
}

#middle-area .nav-pills.t02>li.active{
    background: #fff;
}

#middle-area .nav-pills.t02>li.active>a {
    background:#fff;
    font-weight: bold;
    color:#34aad7;
    transition: none;
}
#middle-area .nav-pills.t02>li.active>a i {	
    color:#34aad7;
}
#middle-area .nav-pills.t02>li.active>a:hover {
    background:#fff;
    color:#34aad7;
}
.top-widget {
    width:100%;
}
.top-widget i {
    color:#06b6d8;
    margin:0 10px 0 0;
}
.send-widget {
    width:100%;
    margin:50px 0 0 0;
}

.top-user {
    width:100%;
    margin:40px 0 0 0;
}
.share-link {
    display:inline-block;
    padding:0 0 0 25px;
    color:#fff;
}
.review-top {
    width:100%;
    background:#fff;
    border-radius:25px;
    margin:70px 0 0 0;
    padding:12px 30px;
}
.review-top .row > div{
    border-left: 1px solid #ededed;
}

.review-top .row > div:first-child{
    border:none;
}

.review-top2 {
    width:50%;
    background:#fff;
    border-radius:25px;
    margin:70px 0 0 0;
    padding:12px 30px;
}
.review-top2 .row > div{
    border-left: 1px solid #ededed;
}

.review-top2 .row > div:first-child{
    border:none;
}

.top-link {
    font-size:12px;
    text-transform:uppercase;
    color:#06b6d8;
    font-weight:bold;
    cursor: pointer;
}
.top-link:hover {
    color:#727272;
    text-decoration:none;
    transition:all 0.5s ease;
}
.top-link:focus {
    color:#727272;
    text-decoration:none;
    transition:all 0.5s ease;
}
.top-link i {
    margin:0 10px 0 0;
}
.top-icons {
    color:#06b6d8!important;
    font-size:16px!important;
}
.top-icons:hover {
    color:#727272!important;
    font-size:16px!important;
}
.top-icons1 {
    color:#727272!important;
    font-size:16px!important;	
}
.top-icons1:hover {
    color:#06b6d8!important;
    font-size:16px!important;	
}

/* start image outer*/
.img-outer{
    width: auto; 
    max-width: none;
    display: inline-block; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-outer.right{     
    float: right; 
}

.img-outer.left{     
    float: left; 
}
/* end image outer*/




/* checkbox and radios */
label span{font-weight: bold}
checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; 
    font-weight: 500;
}
.checkbox label::before {
    /*content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; */}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: -1px;
    margin-left: -20px;
    padding-left: 3px;    
    font-size: 15px;
    color: #06b6d8; text-align: left}
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    /*font-family: 'FontAwesome';
    content: "\f00c";*/ }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #01dad0;
    border-color: #01dad0; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #01dad0; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #01dad0; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #01dad0; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; 

}

/* end checkbox and radios */

/* start buttons */
.btn{
    outline: none!important;
}
.btn-default {
    display:inline-block;
    color:#fff;
    background:#00acde;
    border:1px solid #00acde;
    border-radius:30px;
    max-width:100%;
    padding:8px 50px;
    text-transform:uppercase;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}

.btn-default:active,
.btn-default:focus,
.btn-default.inverse{
    background:#00acde!important;
    border:1px solid #00acde!important;
    color:#fff!important;
}

.btn-default:hover,
.btn-default.inverse
{	
    color:#00acde!important;
    background:transparent!important;
    text-decoration:none;
    border:1px solid #00acde!important;
    transition:all 0.5s ease;
}

.btn.btn-icon,
.btn.btn-icon:hover,
.btn.btn-icon:active,
.btn.btn-icon:focus,
.btn.btn-icon:visited{
    color: #727272;
    text-transform: none;
    font-weight: bold;
    font-size: 14px;
    background: none;
    border-color: transparent!important;
    line-height: 40px;
    padding: 0;
    box-shadow: none;

}

.btn.btn-icon .icon{
    margin-right: 20px;
    background: #00acde;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
    color: #fff;    
}

.btn.t03{
    line-height: 40px;
    color: #727272;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
}

.btn.t03 .fa{
    line-height: 40px;
    padding: 0;
    color: #06b6d8;
    font-weight: normal;
    font-size: 28px;
    font-weight: bold;
    position:relative;
    top: 5px;
    margin-right: 10px;
}

.btn.t03.btn-sm{
    line-height: 20px;
}

.btn.t03.btn-sm .fa{
    line-height: 20px;
}


.btn-bg{
    padding: 15px 60px;
}

.btn-md{
    padding: 10px 15px;
}

.btn.border-bold{
    border-width: 2px !important;
}

.btn.btn-extra-width{
    padding: 10px 50px;
}

.btn-see-more{
    color: #00acde;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
}

.btn-see-more i{
    font-weight: bold;
}

.btn-search{
    width: 36px;
    height: 36px;
    background: #ff047a;
    border-radius: 18px;
    color:#fff;
    padding:0;
    margin: 0;
    border: 1px solid #ff047a;
    margin: 0 20px;
    line-height: 36px;
}

.btn-search:hover{
    background: #fff;
    border-color: #ff047a;
    color:#ff047a;
}

/* end buttons */


/*modal*/
.modal-title{
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #06b6d8;
    font-family: 'Monserrat', sans-serif;
}
.modal-header .close{
    float: right;
}

/* start nav acordion */
.nav-pills.acordion-nav{

}

.nav-pills.acordion-nav li{
    display: block;
    float: none;
    padding: 0;
}
.nav-pills>li>a{
    color: #06b6d8;
    padding: 0;
    padding-left: 50px;
    line-height: 40px;
    position: relative;
}

.nav-pills>li>a:before{
    content: '+';
    display: block;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #06b6d8;
    position: absolute;
    line-height: 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    left: 10px;
    top: 10px;
}

.nav-pills>li>.submenu{
    display: none;
    padding: 5px 0 10px 65px;
}

.nav-pills>li>.submenu .item{
    line-height: 40px;
}

.nav-pills>li+li{
    margin-left: 0
}


.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    background: none;
    color: #06b6d8
}

.nav-pills>li.active>a:before{
    background: transparent;
    color: #06b6d8;
    content: '-'
}

.nav-pills>li.active> .submenu{
    display: block;
}

/* end nav acordion */


/* rating */
.rating-input{color: #06b6d8}
.rating-input .fa-star{color: #ffa810}
/* end rating*/

/*text*/
.text-color-primary{color:#06b6d8}
.text-line-40{line-height: 40px}
.tit02{font-size: 16px; color: #06b6d8}
.tit03{font-size: 14px; color: #06b6d8}
.mb-40{margin-bottom: 40px !important;}
.mb-60{margin-bottom: 60px !important;}
.mb-90{margin-bottom: 90px !important;}
.mb-20{margin-bottom: 20px;}
.text-light{color: #a8a8a8}
.text-bold{font-weight: bold;}
.no-float{float: none!important}
.tit04{font-size: 24px!important; color: #06b6d8}


.no-padding{padding: 0!important}
.no-x-padding{padding-left: 0!important; padding-right: 0!important;}
.bg-grey{background: #fbfcfe;}
.card{padding: 0px;}
.card-header{font-weight: bold; color: #06b6d8; font-size: 16px; margin-bottom: 0px;}
.card-body > *{padding-left:  0}

.icon-list{}
.icon-list li{padding-left: 30px; position: relative; margin-bottom: 10px; text-align: justify}
.icon-list li .icon{position: absolute; left: 0; top: 5px; color: #06b6d8}

.list01{}
.list01 > li{position: relative; line-height: 20px; margin-bottom: 20px; padding: 0 0 0 40px;}
.list01 > li:before{position: absolute; top: 0px; left: 0; content:"\f00c"; font-family: 'FontAwesome'; color: #06b6d8}

.list02{}
.list02 .item a{color:#727272; font-size: 14px; line-height: 25px;}
.list02 .item a i{margin-right: 10px; display: inline-block; width: 25px; height: 25px; text-align: center; line-height: 25px; border-radius: 25px}
.list02 .item.active a{font-weight: bold;}
.list02 .item.active a i{color: #fff; background: #01dad0}

.toolbar{line-height: 40px;}
.toolbar > *:first-child{border-right: 1px solid #dcdcdc;}
.toolbar .toolbtn{ cursor: pointer;}
.listView { z-index: 9 !important; }


/* custom scroll */
.h-310{
    height: 310px;

    margin-bottom: 50px;
}

.h-350{
    height: 350px;
}

.scrollable{
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.scrollable:before,
.scrollable:after{
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    background: #fff;
    content:'';
    display: block;
}

.scrollable:before{
    top: 0;
    bottom: auto;
}

.scrollable  .content{
    padding: 0 60px;
    margin: 40px 0;
}

.scrollable.t02{
    border:none;
}

.scrollable.t02 .content{
    padding: 0 30px;
    margin: 20px 0;
}

.scrollable.t02:before,
.scrollable.t02:after{
   height: 20px;
}

.scrollable.dark .simplebar-scrollbar{right:0;}
.scrollable.dark  .simplebar-track{width:8px; background: rgba(0,0,0,.1);}
/* end custom scroll*/


/* form in navbar */
.form-02{
    padding: 16px 0;
}


.form-02 .form-group{
    width: 100%;
    background: #37c0db;
    padding: 0 25px;
    border-radius: 20px;
    height: 40px;
    line-height: 35px;
}

.form-02 .form-group.white-bg{
    background: #fff;
    color: #ccc;
}

.form-02 .form-group.white-bg ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #727272;
    opacity: 1; /* Firefox */
}

.form-02 .form-group.white-bg :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #727272;
}

.form-02 .form-group.white-bg ::-ms-input-placeholder { /* Microsoft Edge */
    color: #727272;
}

.form-02 .form-group.white-bg .form-control{
    color: #727272;
}

.form-02 .input-group-addon{
    background: none;
    color: #fff;
    border:none;
    padding: 0;
}

.form-02 .input-group{
    width: 100%;
}

.form-02 .form-control{
    width: 100%;
    font-weight: normal;
    letter-spacing: -1px;
    border: none;
    background: none;
    color: #fff;
    padding: 5px;
    height: 40px;
    box-shadow: none;
}

.form-02 select.form-control{
    position: relative;
    width: 100%;
    display: block;
}

.form-02 select.form-control option{
    background: #37c0db;
}

.form-02 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-02 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-02 ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}


.custom-search-input{border-bottom: 1px solid #e4e4e4; color: #e4e4e4;}
.custom-search-input .form-control{border:none; box-shadow: none; font-weight: normal; padding: 0; padding-left: 10px; line-height: 20px; font-size: 14px;}
.custom-search-input .btn{background: none; padding: 10px; margin: 0; color: #ccc; border: none!important; box-shadow:none!important; outline: none!important; margin-right: 10px;}
/* end form in navbar */

/* slider */
.slider-handle{
    background: #06b6d8;
    width: 15px;
    height: 15px;
}

.slider-selection{
    background: #06b6d8;
}

.slider-track{
    background: #dbdbdb;

}
.slider.slider-horizontal .slider-track{
    height: 3px;
}

.slider.slider-horizontal{
    width: 100%;
}




/* end slider */




/* comments */
.comments-content{padding: 0 20px; border-bottom: 1px solid #e4e4e4;}
.comment{margin-bottom: 40px;}
.comment-head{overflow: hidden; margin-bottom: 10px;}
.comment-head .tit{font-weight: bold; margin-right: 10px; float: left;}
.comment-footer{}
.comment-new .rating-input{font-size: 20px; line-height: 40px; color: #a8a8a8}
.comment-new .rating-input .fa-star{color: #06b6d8}
.comments-heading{overflow: hidden; margin-bottom: 40px;}
.comments-heading .tit{color: #06b6d8; margin-right: 5px;}
.comments-heading .tools{text-align: right;}
select.order{border: none; color: #06b6d8; padding: 0; margin: 0; padding-right: 5px; height: 20px; display: inline-block}
/* end comments */

/* start page types */
.pg02 .section-title h2{
    font-size: 24px;
    padding-left: 20px;
}
.pg02 .section-title h2 i{
    margin-right: 5px;
}




.pg03{

}

.pg03 #middle-area{background: #fcfcfc !important;}

.pg03 .breadcrumb-tablecell h1{font-size: 30px; text-align: left;}
.pg03 .breadcrumb-tablecell h1>span{font-size: 30px; display: inline; font-weight: bold}
.pg03 .breadcrumb-tablecell span{
    font-size: 14px; 
    text-align: left;
    letter-spacing: -.75px;
    line-height: 30px;
    font-weight: 500;
}

.pg04 .container{
    width: 1250px;
    max-width: 95%;
}

.pg04 .main .container{
    width: 1360px;
    max-width: 95%;
}
/* end page types */

#map-wrapper .col{padding: 0; height: 100%; border: none;}
#map-list{padding-right: 15px}
#map-list .ps-content{padding: 0 40px 0 20px; margin: 20px 0;}
#map-list .content:after{height: 20px;}

.rating.medium .star, .star.medium { width: 15px !important; height: 15px !important; }
@media(min-width:768px) {

	#map-wrapper .col{max-height: 735px;}
	#map-wrapper{padding: 5px 0}
	.rating.medium .star, .star.medium { width: 20px !important; height: 20px !important; }
	#map-list .ps-content{padding: 0px; margin: 0px;}

}



.list-group{border: none; }
.list-group .list-group-item.active{
    background: #fff;

}

.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover{
    border-color: #f7f7f7;   
    color: #808283;
}

.list-group .list-group-item{
    border: none;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 10px;
    padding: 10px 0 20px;
}

.specialist-list{
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
}

.specialist-list .right-col{
    width: 60px;
    min-width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media(min-width:768px) {
	
	.specialist-list .right-col{
		margin-bottom: 0px;
	}


}

.specialist-list .avatar{
    height: 62px;
    width: 62px;
    background: #06b6d8;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 35px;
    font-size: 14px;
}

.specialist-list .name{display: block ; margin-bottom: 10px}
.specialist-list .speciality{display: block; color:#06b6d8;margin-bottom: 10px}
.specialist-list .distance{border: 1px solid #06b6d8; display: block; color:#06b6d8; border-radius: 12px 12px 12px 12px; padding: 3px 10px;}


.row-eq-height-always {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.row-eq-height-always .vertical-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-list{}
.card-list .card{
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.card-list .username{font-weight: bold; line-height: 40px; display: block;}
.card-list .type-specialization{line-height: 40px; display: block; color: #06b6d8}
.card-list .avatar{display: block; width: 120px; height: 120px; margin: 0 auto; margin-bottom: 20px; border-radius: 60px; background: #f7f7f7;}
.card-list .rating-title{}
.card-list .rating-input{float: right; margin-left: 10px;}
.card-list .btn-contact{position: absolute; bottom: 20px; right: 10px;}

.card-list.t02 .card{
    border: 1px solid #f7f7f7;
    border-width: 0 0 1px 0;
    border-radius: 10px;
    padding: 20px 0;
    position: relative;
}
.card-list.t02 .username{font-weight: normal; line-height: 40px; display: block;}
.card-list.t02  .type-specialization{line-height: 40px; display: block; color: #06b6d8}
.card-list.t02  .avatar{display: block; width: 50px; height: 50px; margin: 0 auto; margin-bottom: 20px; border-radius: 25px; background: #e6f1f8; position: absolute; top: 50%; margin-top: -25px; left: 50%; margin-left: -25px}
.card-list.t02  .date{line-height: 40px; display: inline-block; }
.card-list.t02  .rating-title{}

/** Custom Yohan **/
.login{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-wrapper{
    padding-top: 0px;
    padding-bottom: 10px;
}
.next-login{
    margin-right: 0px;
}
.text-center{
    text-align: center !important;
}
.forgot{
    margin-top: 0px !important;
    text-align: right;
    color: #06b6d8;
    cursor: pointer;
}
.create-account{
    margin-top: 0px !important;
    text-align: center;
}
.create-account span{
    color: #06b6d8;
    cursor: pointer;
}   
.forgot2{
    margin-top: 0px !important;
    text-align: right;
}
.forgot2 span{
    color: #06b6d8;
    cursor: pointer;
}   
.advance{
    padding-bottom: 50px;
}
.advance h6{
    margin-bottom: 20px;
}
.advance .speciality-education-list{
    margin-top: 20px;
}
.advance .advance-list label{
    color: #a8a8a8;
    line-height: 1.5em;
    padding: 10px 0;
    position: relative;
    font-weight: 500;
    cursor: pointer;
} 
.advance-list{
    margin-bottom: 30px;
}
.advance-list li{
    display: flex;
}
.advance-list li p{
    margin-top: 17px;
    margin-left: 10px;
}
.advance-list > li > a:before {
    position: absolute;
    content: "\f00d";
    top: 10px;
    right: -32px;
    font-family: FontAwesome;
    color: #dedede;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/radio-button.png) -20px top no-repeat;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"]:checked + label span {
    background: url(../images/radio-button.png) 2px top no-repeat;
}
.form-advance h6{
    color: #f10977;
    text-align: right;
    cursor: pointer;
}
.tab-content{
    margin-top: 50px;
}
#advanced{
    border-bottom: 1px solid #d6d6d6;
}
.year-pains p{
    margin-top: 0px;
}
.year-pains .range-slider{
    margin-top: 10px;
}
.account-user-form-2 .title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.inline{
    display: inline;
}
.medication{
    margin-left: 20px;
    margin-top: 40px;
}
.medication ul li p{
    color: #a8a8a8;
    line-height: 1.5em;
    padding: 10px 0;
    position: relative;
}
.medication ul li p:after{
    content: "\f00d";
    margin-left: 8px;
    font-family: FontAwesome;
    color: #dedede;
}
.simplebar-track.horizontal{
    visibility: hidden !important;
}
.bold{
    font-weight: bold !important;
}
.text-1{
    color: #06B6D8;
    font-size: 14px;
}
.text-2{
    font-size: 14px;
}
@media(min-width:768px) {
	.right{
    		right: 0;
    		position: absolute;
	}
}
.right20{
    right: 20px;
    position: absolute;
}
.chess img{
    width: 25px;
    margin-bottom: 8px;
}
.membership{
    border: 1px solid #01acdb;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    padding-bottom: 0;
}
.mship{
    padding-top: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.price{
    font-size: 25px;
}
.mb0{
    margin-bottom: 0px !important;
}
.font13{
    font-size: 13px;
}
.text-right{
    text-align: left !important;
}
.text-right label {
	line-height: 40px;
}
@media(min-width:768px) {

.text-right{
    text-align: right !important;
}
}
.footer-area .widget-title{
    font-size: 15px;
}
.user-p .medication{
    margin-bottom: -6px;
}
.mt3{
    margin-top: 3px !important;
}
.pl0{
    padding-left: 0px !important;
}


/* pagination */
.pagination-wrapper{float:none; clear: both; justify-content: center; margin-bottom: 40px; margin-top: 0;}
.pagination.justify-content-center{justify-content: center; display:flex; margin-top: 0;}
.pagination > .page-item{padding: 0 5px;}
.pagination > .page-item > .page-link{border:0; color: #727272; line-height: 20px; background: none; padding: 5px; width: 30px; height:30px; text-align: center; border-radius: 50%;}
.pagination > .page-item.active > .page-link{color:#fff; background:#34aad7;}
.pagination > .page-item:hover > .page-link{color:#fff; background:#34aad7; opacity: .8}
/*end pagination*/


#img-home-left01{height: 440px;}
#home-head{background: url('../images/home-head.jpg') top center no-repeat; height: 573px; position: relative;background-size: cover;}
#home-head .content{color: #fff; margin: 0 auto; position: absolute; bottom: 0px; left: 0; right: 0}
#home-head .form-02 .active .form-group{max-width: 440px; margin-left: auto; margin-right: auto;}
#home-head .form-02 .active .input-group{float: left; max-width: 440px;}
#home-head .form-02 .active .input-group:before{content:"\f04b"; font-family: "FontAwesome"; line-height: 40px; display: block; position: absolute; left: -45px; color: #05f6f9;}
#home-head .form-02 .active .btn-search{display: block; position: absolute; background: #fff; border-color:#fff; top: 0px; right: -20px; width: 40px; height: 40px; border-radius: 40px;}
#home-head .form-02 .active .btn-search .fa{color: #727272}
.group-container {max-width: 420px; padding-right: 50px !important; margin: 0 auto; position: relative}
.group-container.active{max-width: 520px}

#home-head .form-02 .form-group{max-width: 340px; margin-left: auto; margin-right: auto;}
#home-head .form-02 .input-group{float: left; max-width: 340px;}
#home-head .form-02 .btn-search{display: block; position: absolute; background: transparent; border-color:transparent; top: 0px; right: 0px; width: 40px; height: 40px; border-radius: 40px;}
#home-head .form-02  .btn-search .fa{color: #fff}


.block-shadow{box-shadow: 0 0 20px rgba(0,0,0,.2); border-radius: 20px; padding: 40px; margin-bottom: 40px; margin-top: 20px; margin-left: 30px;}
.header-02{background: #fafafa; border-radius: 25px; width:100%; font-size: 14px; line-height: 50px; padding: 0 25px 0 70px; position:relative;}
.header-02 .title{float: left; font-weight: bold;}
.header-02 .info{float: right;}
.header-02 .avatar{display: block; width: 50px; height: 50px; border-radius: 25px; background: #e6f1f8; position: absolute; left: 0; top: 0; margin: 0;}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #00B7DA;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px #00B7DA;
}
.form-02 .form-control{
    font-size: 11px;
    letter-spacing: 0px;
}
.tit-home{
    font-size: 45px;
}
.em2{
    line-height: 2em;
}
.delete-message{
    padding: 10px 15px !important;
}
.mr-30{
    margin-right: 30px;
}
.form-group .control-icon{
    padding: 0 10px 0 64px;
}
.error{
    color: red;
}
.save-btn[disabled]{
    opacity: 0.5;
}
.save-btn[disabled]:hover{
    background-color: #00B7DA;
    color: #fff;
}
.select2{
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px !important;
    right: 10px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid rgba(0, 0, 0, .1) !important;
}
.area{
    width: 100%;
    padding: 50px;
    border: 1px solid #ccc;
}
.area2{
    border: none;
    padding: 0;
    width: 100%;
}
.area2:focus{
    outline: none;
}
.nav-pills a{
    cursor: pointer;
}
.mt50{
    margin-top: 50px !important;
}
.totals-patient span{
    color: #c2c2c2;
}

star-rating {
	float:left;
	line-height: 40px;
	margin-left: 10px;
	margin-top: 12px;
}

@media(min-width:768px) {


	star-rating {
		float:right;
		margin-left: 0px;
		margin-top: 0px;
	}

}

p-radioButton
{
	display: block;
}

p-radioButton:first-child, p-radioButton:nth-child(2) {
	margin-bottom: 10px;
}
