<!-- Start header-area -->
<div class="header-area inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="logo">
		    <a [routerLink]="['/']"><img src="/assets/images/logo-white.png" alt=""></a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12 pull-right">
                <nav class="mainmenu">
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                            data-target=".navbar-collapse" (click)="changeCollapse()">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" [ngClass]="{ 'in': collapse }">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a [routerLink]="['/']">Home</a></li>
                            <li><a [routerLink]="['/search/professionals']">Search Healthpros</a></li>
                            <li><a [routerLink]="['/search/patients']">Search Patients</a></li>
                            <li><a [routerLink]="['/blog']">Blog</a></li>
                            <li *ngIf ="!session"><a [routerLink]="['/register']">Sign Up</a></li>
                            <li *ngIf ="!session"><a class="login" [routerLink]="['/login']">Sign In</a></li>
                            <li *ngIf ="session"><a class="msg" [routerLink]="['/messages']"><i class="fa fa-envelope-o"></i></a></li>
                            <li *ngIf ="session"><a class="account" [routerLink]="['/account']"><i class="fa fa-user-o"></i></a></li>
                            <li *ngIf ="session"><a [routerLink]="['/logout']"><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </nav><!-- end mainmenu -->
            </div><!-- end col-sm-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end header-area -->
