<app-navbar></app-navbar>
<div class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-sx-12">
                    <div class="breadcrumb-table">
                        <div class="breadcrumb-tablecell">
				<h1>{{posts.title.rendered}}</h1>
                            	<span class="date">{{posts.date | date: 'dd MMM yyyy'}}</span>
                        </div>
                    </div>
                </div><!-- end col-xs-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-area -->
    
    <!-- Start blog-content-area -->
    <div class="blog-content-area ptb-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
			<img src="{{posts.better_featured_image.source_url}}" alt="Blog">
                </div><!-- end col-sm-4 -->
                <div class="col-sm-8 col-xs-12 blog-text">
			    <p [innerHTML]="posts.content.rendered">{{posts.content.rendered}}</p>
                </div><!-- end col-sm-8 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end blog-content-area -->
