<!--================================
            SIDE MENU
=================================-->
<!-- PAGE OVERLAY WHEN MENU ACTIVE -->
<div class="gl-side-menu-overlay"></div>
<!-- PAGE OVERLAY WHEN MENU ACTIVE END --> 

<!-- HEADER -->

 <block-ui [message]="'Loading...'">
 </block-ui>
<router-outlet (activate)="scrollTop($event)"></router-outlet>

<app-footer></app-footer>

