<div class="pg03">
    <div id="username-banner" class="username-banner"></div>

    <section id="username-area" class="username-area ">
        <div class="container">
            <div class="user-widget">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="back-widget">
                            <div class="body-widget">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="body-widget">
			    <img [src]="user.image != null ? user.image : defaultImage" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="top-user">
                            <div class="body-widget">
                                <h1 class="username-title">{{user.username}}
                                </h1>
                                <h3 class="username-sub-title"><i class="fa fa-map-pin icon"></i> 
                                    {{user.location.country.name}}, {{user.location.region.name}}, {{user.location.city.name}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="review-top text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="body-widget">
					    <a [routerLink]="['/message/' + user.username]" class="top-link">
                                            <i class="fa fa-envelope"></i> Send Message
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mobile-middle-area" class="mobile-middle-area">
        <div class="container">
			<accordion id="accordion">
				<accordion-group [isOpen]="isFirstOpen">
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<span>
														<i class="fa fa-user-o"></i> Condition
												</span>
											</h4>
									</div>
						</button>
							<div class="panel-body">
								<div class="body-widget totals-patient">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Type of condition: <span>{{user.pain_type.paintype_name}}</span></p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Level of condition: <span>{{user.pain_level.painlevel_name}}</span></p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Number of years with condition: <span>{{user.pain_years}}</span></p>
                                            </div>
                                        </div>
							</div>
				</accordion-group>	
				<accordion-group>
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<span>
									<i class="fa fa-user-o"></i> PainKillers
												</span>
											</h4>
									</div>
						</button>
							<div class="panel-body">
								<div class="body-widget">
                                            <div class="row">
                                                <ng-container>
                                                    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let i of user.painkillers">
                                                        <p>{{i.name}}</p>
                                                    </div>
                                                </ng-container>
                                            </div><!-- end row -->
                                        </div>
							 </div>
				</accordion-group>	
				<accordion-group>
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<span>
									<i class="fa fa-user-o"></i> Pain Story
												</span>
											</h4>
									</div>
						</button>
								<div class="panel-body">
									 <div class="body-widget">
                                            <p [innerHTML]="user.story">{{user.story}}</p>
                                        </div>
								</div>
				</accordion-group>	
			</accordion>
            
        </div>
    </section>


    <!--start desktop version-->
    <section id="middle-area" class="middle-area">
        <div class="row">
            <div class="container">
                <div class="top-widget">
                    <div class="body-widget pull-right">
                        <ul class="nav t02 nav-pills">
                            <li (click)="changeTab(0)" [ngClass]="{ 'active': tabActive == 0 }">
                                <a><i class="fa fa-user"></i> About</a>
                            </li>					
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

        <div class="white-tabs">
            <div class="tab-content">
                <div [ngClass]="{ 'in active': tabActive == 0 }" class="tab-pane fade">
                    <div class="tabs-widget">
                        <!-- Section 1-->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="left-menu">
                                    <div class="body-widget">
                                        <i class="fa fa-user-o"></i>
                                        <h2 class="left-title">Condition</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tabs-new-widget">
                                    <div class="repeat-middle">
                                        <div class="body-widget totals-patient">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Type of condition: <span>{{user.pain_type.paintype_name}}</span></p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Level of condition: <span>{{user.pain_level.painlevel_name}}</span></p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <p>Number of years with condition: <span>{{user.pain_years}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-tabs mt50">
            <div class="tab-content">
                <div [ngClass]="{ 'in active': tabActive == 0 }" class="tab-pane fade">
                    <div class="tabs-widget">
                        <!-- Section 2-->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="left-menu">
                                    <div class="body-widget">
                                        <i class="fa fa-user-o"></i>
                                        <h2 class="left-title">PainKillers</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tabs-new-widget">
                                    <div class="repeat-middle">
                                        <div class="body-widget">
                                            <!--<div class="row">
                                                <ng-container>
                                                    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let i of user.painkillers">
                                                        <p>{{i.name}}</p>
                                                    </div>
                                                </ng-container>
					    </div>-->
					    <p [innerHTML]="user.patient_painkiller">{{user.patient_painkiller}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	<div class="white-tabs mt50">
            <div class="tab-content">
                <div [ngClass]="{ 'in active': tabActive == 0 }" class="tab-pane fade">
                    <div class="tabs-widget">
                        <!-- Section 2-->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="left-menu">
                                    <div class="body-widget">
                                        <i class="fa fa-user-o"></i>
                                        <h2 class="left-title">Other PainKillers</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tabs-new-widget">
                                    <div class="repeat-middle">
                                        <div class="body-widget">
						<p [innerHTML]="user.other_painkiller">{{user.other_painkiller}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-tabs mt50">
            <div class="tab-content">
                <div [ngClass]="{ 'in active': tabActive == 0 }" class="tab-pane fade">
                    <div class="tabs-widget">
                        <!-- Section 2-->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="left-menu">
                                    <div class="body-widget">
                                        <i class="fa fa-user-o"></i>
                                        <h2 class="left-title">Pain Story</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tabs-new-widget">
                                    <div class="repeat-middle">
                                        <div class="body-widget">
                                            <p [innerHTML]="user.story">{{user.story}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="send-widget text-center mb-40">
                <div class="send-megs">
                    <a [routerLink]="['/message/' + user.username]" class="btn btn-default btn-bg bold">Send Message</a>
                </div>
            </div>

        </div>
    </section>
    <!--end desktop version-->
</div>
