.progress-bar{
    width: 100%;
}
.username-sub-title{
    margin-top: 50px;
    color: #333;
}
.username-sub-title i{
    color: #34aad8;
}
.white-tabs {
    padding: 5px 75px;
}
.card {
	padding: 0px !important;
}

.panel-group {
	margin-bottom: 0px !important;
}

.panel-heading {
	padding: 0px !important;
}

.accordion-toggle button {
	padding: 0px;
}

.accordion-toggle .btn {
	padding: 0px !important;
}
