<app-navbar></app-navbar>
<app-profile-header></app-profile-header>
<app-public-professional *ngIf="user && user.state == 3" [user]="user"></app-public-professional>
<app-public-patient *ngIf="user && user.state == 2" [user]="user"></app-public-patient>