<div class="header-area inverse collapsed">
            <div class="container">
                <div class="row">
                    <div id="middle-area" class="middle-area">
			    <form class="form-inline form-02" (ngSubmit)="onSubmit($event)">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
					    <input [(ngModel)]="textSearch" ngControl="textSearch" id="text" type="text" class="form-control" name="email" placeholder="Location" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select name="distance" class="form-control" [(ngModel)]="location" (ngModelChange)="onFilters($event)">
                                                    	<option value="0">Distance (miles)</option>
						    	<option value="30">30 kms</option>
                                    			<option value="50">50 kms</option>
                                    			<option value="100">100 kms</option>
                                    			<option value="150">150 kms</option>
                                    			<option value="1000000000000000000">150 kms +</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select name="distance"  class="form-control" [(ngModel)]="pros" (ngModelChange)="onFilters($event)">
                                                    <option value="0">Type of health pro</option>
						    <option *ngFor="let item of professions" value="{{item.id}}">{{item.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select name="distance" class="form-control" [(ngModel)]="spec" (ngModelChange)="onFilters($event)">
                                                    <option value="0">Specialization</option>
						    <option *ngFor="let item of specialities" value="{{item.id}}">{{item.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
				</form>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end header-area -->

        <section class="main">
            <div class="container">
                <div id="map-wrapper">
                    <div class="row row-eq-height">

                        <div id="sidebar" class="col-md-3 section-title sidebar no-padding ptb-50">
                            <div class="show-lt-lg">
                                <a class="closebtn" (click)="closeNav()">&times;</a>
                            </div>
                            <perfect-scrollbar class="col scrollable" id="map-list">
                                <div class="content pl0">
                                    <div class="col-sm-12 no-padding tools mb-40 clearfix">
					Order by:
                                	<select class="order" [(ngModel)]="order" (ngModelChange)="onFilters($event)">
                                    		<option value="0">Best rating</option>
                                    		<option value="1">1/5</option>
                                    		<option value="2">2/5</option>
                                    		<option value="3">3/5</option>
                                    		<option value="4">4/5</option>
                                    		<option value="5">5/5</option>
                                	</select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <ul class="list-group specialist-list" *ngFor="let i of professionals">
                                        <li class="list-group-item">
                                            <div class="row-eq-height">
                                                <div class="right-col">
							<div class="avatar">{{i.name | slice:0:1}}</div>
                                                </div>
                                                <div class="left-col">
						    <span class="name">{{i.name}}</span>
						    <span class="speciality">{{i.profession.profession_name}}</span>
						    <span class="distance">{{i.distance}} km away</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </perfect-scrollbar>
                        </div><!-- end col-md-3 -->
                        <div class="col-md-9 col-sm-12 col">  
                            <div class="show-lt-lg">
                                <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                                    <div class="col-xs-6">
                                        <a [routerLink]="['/search/professionals']" class="toolbtn"><i class="fa fa-list"></i>  View in list</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="closebtn toolbtn" (click)="openNav()">Filter search</a>
                                        <button (click)="mobileSearch()" class="btn-search" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>

                                <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Search</h5>  
                                                <button (click)="mobileCloseSearch()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form (ngSubmit)="onSubmit($event)">
                                                    <div class="custom-search-input">
                                                        <div class="input-group col-md-12">

                                                            <input [(ngModel)]="textSearch" ngControl="textSearch" id="text" type="text" class="form-control" name="email" placeholder="Location" [ngModelOptions]="{standalone: true}" />
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="submit">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- end show only md-->

			    <a [routerLink]="['/search/professionals']" class="btn btn-default inverse btn-md pull-right bold absolute listView" style="background-color: #FFFFFF !important;"><i class="fa fa-list"></i> View healthpros in list</a>
			    <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="13">
				    <agm-marker *ngFor="let i of professionals" [latitude]="i.position.lat" [longitude]="i.position.long" [markerClickable]="true" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
				   
					<agm-info-window #infoWindow>
						<div class="card-list mb-40">
                        				<div class="card mb-40">
                            					<div class="card-body row-eq-height ">
                                					<div class="col-sm-3 vertical-center text-center">
                                    						<div class="avatar">
											<img [src]="i.image != null ? i.image : defaultImage" />
                                    						</div>
                                    						<a [routerLink]="['/user/' + i.username]">View profile</a>
                                					</div>
                                					<div class="col-sm-6 vertical-center">
                                    						<strong class="username">{{i.username}}</strong>
                                    						<span class="type-specialization">{{i.profession.profession_name}}</span>
										<p [innerHTML]="i.about.slice(0, 150)"></p><p><a class="read-more" [routerLink]="['/user/' + i.username]">read more</a></p>
                                					</div>
                                					<div class="col-sm-3 text-right clearfix">
                                    						<span class="text-color-primary rating-title">Rating </span>
                                    						<star-rating [starType]="'svg'" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="i.rating"></star-rating>
                                    						<a [routerLink]="['/message/' + i.username]" class="btn btn-default btn-contact bold" href="">Contact</a>
                                					</div>
                            					</div>
                        				</div>
						</div>
    					</agm-info-window>
 
				    </agm-marker>
			    </agm-map>
                            <!--<div id="map" style="background: url('./img/map.png') center center no-repeat; width: 100%; min-height: 735px;">
			    </div>-->	    
                        </div><!-- end col-md-9 -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container -->


        </section>
