<div class="pg03">
    <div id="username-banner" class="username-banner"></div>

    <section id="username-area" class="username-area ">
        <div class="container">
            <div class="user-widget">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="back-widget">
                            <div class="body-widget">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="body-widget">
			    <img [src]="user.image != null ? user.image : defaultImage" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="top-user">
                            <div class="body-widget">
                                <h1 class="username-title">{{user.username}}
                                    <a href="#" class="share-link">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </h1>
                                <h3 class="username-sub-title">{{user.profession.profession_name}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="review-top text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="body-widget">
                                        <a (click)="changeTab(2)" class="top-link">
                                            <i class="fa fa-comment-o"></i> Write Review
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="body-widget">
                                        <a [routerLink]="['/message/' + user.username]" class="top-link">
                                            <i class="fa fa-envelope"></i> Send Message
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mobile-middle-area" class="mobile-middle-area">
        <div class="container">
            <accordion id="accordion">
				<accordion-group [isOpen]="isFirstOpen">
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<span>
														<i class="fa fa-user"></i> About
												</span>
											</h4>
									</div>
						</button>
							<div class="panel-body">
								<div class="body-widget">
									<div class="tabs-new-widget">
										<div class="repeat-middle">
											<div class="body-widget">
												<h2 class="tit02">About me</h2>
												<p [innerHTML]="user.about">{{user.about}}</p>
											</div>
										</div>
										<div class="repeat-middle">
											<div class="body-widget">
												<h2 class="tit02">My approach</h2>
												<p [innerHTML]="user.approach">{{user.approach}}</p>
											</div>
										</div>
										<div class="repeat-middle">
											<div class="body-widget">
												<h2 class="tit02">My success stories</h2>
												<p [innerHTML]="user.stories">{{user.stories}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
				</accordion-group>	
				<accordion-group>
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<span>
									<i class="fa fa-stethoscope"></i> Medical information
												</span>
											</h4>
									</div>
						</button>
							<div class="panel-body">
								<div class="body-widget">
									<div class="tabs-new-widget">
										<div class="repeat-middle">
											<div class="body-widget">
												<h2 class="tit02">Qualifications</h2>
												<ul *ngIf="user.qualifications" class="list01 clearfix col-md-12 col-sm-12">
                                                	<li *ngFor="let i of user.qualifications" class="col-md-6 col-sm-12">{{i.name}}</li>
                                            	</ul>
                                            		<p *ngIf="user.qualifications.length == 0">No Qualifications found!</p>


											</div>
										</div>
										<div class="repeat-middle">
											<div class="body-widget">
												<h2 class="tit02">Specialities</h2>
												<ul *ngIf="user.specialities" class="list01 clearfix col-md-12 col-sm-12">
                                                	<li *ngFor="let i of user.specialities" class="col-md-6 col-sm-12">{{i.name}}</li>
                                            	</ul>
                                            	<p *ngIf="user.specialities.length == 0">No Specialities found!</p>

											</div>
										</div>
									</div>
								</div>
							 </div>
				</accordion-group>	
				<accordion-group>
					<button class="btn btn-link btn-block clearfix" accordion-heading>
						<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<span>
									<i class="fa fa-comment-o"></i> Reviews
												</span>
											</h4>
									</div>
						</button>
								<div class="panel-body">
									<div class="body-widget">
										<div class="tabs-new-widget">
											<div class="comments-content mb-40">
												<div class="comments-heading">
													<div class="col-sm-12 col-md-6 no-padding">
														<span class="tit">Most recent reviews</span>
														<span class="count">{{ user.reviews?.length || '0' }} reviews</span>
													</div>
													<div class="col-sm-12 col-md-6 no-padding tools">
														Sort by:
														<select class="order" [(ngModel)]="user.review_order" (change)="onReviewSortChange(event)">
                                                    		<option value="0">Most recent</option>
                                                    		<option value="1">Rating</option>
                                                		</select>
													</div>
												</div>
												<div class="repeat-middle" *ngFor="let i of user.reviews">

                                            <div class="body-widget comment text-justify">
                                                <div class="comment-head">
                                                    <span class="tit"></span>
						    <star-rating [starType]="'svg'" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="i.review_value"></star-rating>
                                                </div>
                                                <p [innerHTML]="i.review_description">
							{{i.review_description}}
                                                </p>
                                                <div class="comment-footer">
							Published <span class="date">{{i.created_at | date: 'dd MMM yyyy'}}</span> by <a class="author" [routerLink]="['/user/' + i.from_username]">{{i.from_username}}</a>
                                                </div>
                                            </div>
                                        </div>
											</div>

											<form *ngIf="session">
                                        <div class="col-md-6 col-xs-12 no-padding">
                                            <div class="form-group">
                                                <select [(ngModel)]="review.problem" name="problem" id="problem" class="form-control">
                                                    <option value="1">Problem treated</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    <option value="4">Four</option>
                                                    <option value="5">Five</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 no-padding text-right">
					    <star-rating [starType]="'svg'" (ratingChange)="onRatingChange($event)" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="review.rating"></star-rating>
                                        </div>
                                        <div class="form-group">
                                            <textarea [(ngModel)]="review.text" name="text" id="text" rows="7" class="form-control" required="required" placeholder="comment..."></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button (click)="submitReview()" class="btn btn-default inverse btn-bg bold">Publish</button>
                                        </div>
                                    </form>
                                    <div class="col-md-12 col-xs-12 no-padding" *ngIf ="!session">
				    	<p class="create-account"><span routerLink="/login">Log in</span> to write a review.</p>
				    </div>
										</div>
									</div>
								</div>
				</accordion-group>	
			</accordion>
        </div>
    </section>


    <!--start desktop version-->
    <section id="middle-area" class="middle-area">
        <div class="row">
            <div class="container">
                <div class="top-widget">
                    <div class="body-widget pull-right">
                        <ul class="nav t02 nav-pills">
                            <li (click)="changeTab(0)" [ngClass]="{ 'active': tabActive == 0 }">
                                <a><i class="fa fa-user"></i> About</a>
                            </li>
                            <li (click)="changeTab(1)" [ngClass]="{ 'active': tabActive == 1 }">
                                <a><i class="fa fa-stethoscope"></i> Medical information</a>
                            </li>
                            <li (click)="changeTab(2)" [ngClass]="{ 'active': tabActive == 2 }">
                                <a><i class="fa fa-comment-o"></i> Reviews</a>
                            </li>						
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="white-tabs">
                <div class="tab-content">
                    <div [ngClass]="{ 'in active': tabActive == 0 }" class="tab-pane fade">
                        <div class="tabs-widget">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="left-menu">
                                        <div class="body-widget">
                                            <i class="fa fa-user-o"></i>
                                            <h2 class="left-title">About</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="tabs-new-widget">
                                        <div class="repeat-middle">
                                            <div class="card bg-grey mb-40" *ngIf="user.email">
                                                <div class="card-header">Direct contact</div>
                                                <div class="card-body clearfix">
                                                    <div class="col-sm-12 col-md-6">
                                                        <ul class="icon-list">
                                                            <li><i class="fa fa-at icon"></i> {{user.email}}</li>
                                                            <li><i class="fa fa-window-restore icon"></i> 
                                                                <a href="{{user.website}}" target="_blank">{{user.website}}</a>
                                                            </li>
                                                            <li><i class="fa fa-phone icon"></i> {{user.phone}}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <ul class="icon-list">
                                                            <li><i class="fa fa-map-pin icon"></i> {{user.location.country.name}}, {{user.location.region.name}}, {{user.location.city.name}}</li>
                                                            <li><i class="fa fa-car icon"></i>{{user.address}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="body-widget">
                                                <h2 class="tit02">About me</h2>
                                                <p [innerHTML]="user.about">{{user.about}}</p>
                                            </div>
                                        </div>
                                        <div class="repeat-middle">
                                            <div class="body-widget">
                                                <h2 class="tit02">My approach</h2>
                                                <p [innerHTML]="user.approach">{{user.approach}}</p>
                                            </div>
                                        </div>
                                        <div class="repeat-middle">
                                            <div class="body-widget">
                                                <h2 class="tit02">My success stories</h2>
                                                <p [innerHTML]="user.stories">{{user.stories}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{ 'in active': tabActive == 1 }" class="tab-pane fade">
                        <div class="tabs-widget">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="left-menu">
                                        <div class="body-widget">
                                            <i class="fa fa-stethoscope"></i>
                                            <h2 class="left-title">Medical information</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="repeat-middle">
                                        <div class="body-widget mb-40 clearfix">
                                            <h2 class="tit03">Qualifications</h2>
                                            <ul *ngIf="user.qualifications" class="list01 clearfix col-md-12 col-sm-12">
                                                <li *ngFor="let i of user.qualifications" class="col-md-6 col-sm-12">{{i.name}}</li>
                                            </ul>
                                            <p *ngIf="user.qualifications.length == 0">No Qualifications found!</p>
                                        </div>
                                    </div>
                                    <div class="repeat-middle">
                                        <div class="body-widget mb-40 clearfix">
                                            <h2 class="tit03">Specialities</h2>
                                            <ul *ngIf="user.specialities" class="list01 clearfix col-md-12 col-sm-12">
                                                <li *ngFor="let i of user.specialities" class="col-md-6 col-sm-12">{{i.name}}</li>
                                            </ul>
                                            <p *ngIf="user.specialities.length == 0">No Specialities found!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{ 'in active': tabActive == 2 }" class="tab-pane fade">
                        <div class="tabs-widget">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="left-menu">
                                        <div class="body-widget">
                                            <i class="fa fa-comment-o"></i>
                                            <h2 class="left-title">Reviews</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">

                                    <div class="comments-content mb-40">
                                        <div class="comments-heading">
                                            <div class="col-sm-12 col-md-6 no-padding">
                                                <span class="tit">Most recent reviews</span>
						<span class="count">{{ user.reviews?.length || '0' }} reviews</span>
                                            </div>
                                            <div class="col-sm-12 col-md-6 no-padding tools">
                                                Sort by:
                                                <select class="order" [(ngModel)]="user.review_order" (change)="onReviewSortChange(event)">
                                                    <option value="0">Most recent</option>
                                                    <option value="1">Rating</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="repeat-middle" *ngFor="let i of user.reviews">

                                            <div class="body-widget comment text-justify">
                                                <div class="comment-head">
                                                    <span class="tit"></span>
						    <star-rating [starType]="'svg'" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="i.review_value"></star-rating>
                                                </div>
                                                <p [innerHTML]="i.review_description">
							{{i.review_description}}
                                                </p>
                                                <div class="comment-footer">
							Published <span class="date">{{i.created_at | date: 'dd MMM yyyy'}}</span> by <a class="author" [routerLink]="['/user/' + i.from_username]">{{i.from_username}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <form *ngIf="session">
                                        <div class="col-md-6 col-xs-12 no-padding">
                                            <div class="form-group">
                                                <select [(ngModel)]="review.problem" name="problem" id="problem" class="form-control">
                                                    <option value="1">Problem treated</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    <option value="4">Four</option>
                                                    <option value="5">Five</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 no-padding text-right">
					    <star-rating [starType]="'svg'" (ratingChange)="onRatingChange($event)" [staticColor]="'ok'" [hoverEnabled]="true" [rating]="review.rating"></star-rating>
                                        </div>
                                        <div class="form-group">
                                            <textarea [(ngModel)]="review.text" name="text" id="text" rows="7" class="form-control" required="required" placeholder="comment..."></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button (click)="submitReview()" class="btn btn-default inverse btn-bg bold">Publish</button>
                                        </div>
                                    </form>
                                    <div class="col-md-12 col-xs-12 no-padding" *ngIf ="!session">
				    	<p class="create-account"><span routerLink="/login">Log in</span> to write a review.</p>
				    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="send-widget text-center mb-40">
                <div class="send-megs">
                    <a [routerLink]="['/message/' + user.username]" class="btn btn-default btn-bg bold">Send Message</a>
                </div>
            </div>

        </div>
    </section>
    <!--end desktop version-->
</div>
