<app-navbar></app-navbar>
	<div class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sx-12">
                        <div class="breadcrumb-table">
                            <div class="breadcrumb-tablecell">
                                <h1><span>Oh oh...</span> Don't Worry</h1>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. </span>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
	<div class="user-account-area text-center ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <div class="login user-content-wrapper">
                            <div class="login-wrapper user-form-wrapper">
                                <div class="account-user-form">
                                    <form>
					<div class="form-group">
                                        	<span class="icon"><i class="fa fa-key"></i></span>
                                        	<input [(ngModel)]="user.password" name="password" type="password" class="form-control control-icon" placeholder="Password">
                                    	</div>
                                    	<div class="form-group">
                                        	<span class="icon"><i class="fa fa-key"></i></span>
                                        	<input [(ngModel)]="user.repeat" name="repeat" type="password" class="form-control control-icon" placeholder="Repeat password">
                                    	</div>
                                        <p class="forgot2">I remembered it! <span routerLink="/login">log in</span></p>
                                    </form>
                                </div>
                            </div>
                            <div class="arrow-btn-group w-100">
                                <div class="text-center"><button type="submit" (click)="login()" class="next-login save-btn next-btn">Reset</button></div>
                                <p class="create-account">I am not registered. <span routerLink="/register">Create my account</span></p>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
