<div>
    <div class="row franja content">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <h2>{{ job.job.title }}</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <h2>{{ job.job.budget }}</h2>
        </div>
    </div>
    <div class="row description-job">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <h3>Details</h3>
            <ul>
                <li class="fa fa-calendar-o">
                    <b>Date Posted</b><span>{{ job.job.created | date:'dd MMMM yyyy' }}</span>
                </li>
                <li class="fa fa-flag">
                    <b>Category</b><span>{{ job.classification.type.name }}</span>
                </li>
                <li class="fa fa-user">
                    <b>Job Type</b><span>{{ job.classification.subtype.name }}</span>
                </li>
                <li class="fa fa-map-marker">
                    <b>City</b><span>{{ job.location.city }}</span>
                </li>
                <li class="fa fa-th-large">
                    <b>Postcode</b><span>{{ job.location.postcode }}</span>
                </li>
                <li class="fa fa-user-plus">
                    <b>Invited T.</b><span>03</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
            <article>
                <h3>Description</h3>
                <!-- clase scroll para tener estilos de scroll -->
                <p class="scroll">{{ job.job.description }}</p>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="images">
            <figure-image [images]="images"></figure-image>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 detail-job-customer">
            <h2>
                <span>Invited Tradesmen</span>
                <span>Actions</span>
            </h2>
            <div>
                <li>
                    <div>
                        <span>Username</span>
                        <span>Invited 25 September 2017</span>
                    </div>
                </li>
                <a href="#">SEND MESSAGE</a>
            </div>
            <div>
                <li>
                    <div>
                        <span>Username</span>
                        <span>Invited 25 September 2017</span>
                    </div>
                </li>
                <a href="#">SEND MESSAGE</a>
            </div>
            <div>
                <li>
                    <div>
                        <span>Username</span>
                        <span>Invited 25 September 2017</span>
                    </div>
                </li>
                <a href="#">SEND MESSAGE</a>
            </div>
        </div>
    </div>
</div>