<app-navbar-list></app-navbar-list>
<div class="pg04">
    <app-search-professional *ngIf="type == 'professionals'"></app-search-professional>
    <app-search-patients *ngIf="type == 'patients'"></app-search-patients>
</div>
