<app-navbar></app-navbar>
	<div class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sx-12">
                        <div class="breadcrumb-table">
                            <div class="breadcrumb-tablecell">
                                <h1><span>Oh oh...</span> Don't Worry</h1>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. </span>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
	<div class="user-account-area text-center ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <div class="login user-content-wrapper">
                            <div class="login-wrapper user-form-wrapper">
                                <div class="account-user-form">
                                    <form>
                                        <div class="form-group">
                                            <span class="icon"><i class="far fa-user"></i></span>
                                            <input [(ngModel)]="user.email" type="text" name="username" id="username" class="form-control" required="required" placeholder="Email">
                                        </div>
                                        <p class="forgot2">I remembered it! <span routerLink="/login">log in</span></p>
                                    </form>
                                </div>
                            </div>
                            <div class="arrow-btn-group w-100">
                                <div class="text-center"><button (click)="login()" type="submit" class="next-login save-btn next-btn">Send</button></div>
                                <p class="create-account">I am not registered. <span routerLink="/register">Create my account</span></p>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
