<app-navbar></app-navbar>
<section  class="main mt-30">
            <div class="container">
                <div class="row row-eq-height">

                    <div id="sidebar" class="col-md-2 section-title sidebar  no-x-padding ptb-50" >
                        <div class="show-lt-lg">
                            <a class="closebtn" (click)="closeNav()">&times;</a>
                        </div>

                        <div class="content">
                            <h2 class="tit04 pm-l-30"><a href="" class="mr-10"><i class="fa fa-angle-left"></i></a> Messages</h2>
                        </div>

                        <ul class="list02 pm-l-30">
                            <li class="mb-20 item active"><a [routerLink]="['/messages/']"><i class="fa fa-arrow-down"></i> Inbox</a></li>
                            <li class="mb-20 item"><a [routerLink]="['/messages-sent/']"><i class="fa fa-arrow-up"></i> Sent</a></li>
                            <li class="mb-20 item"><a [routerLink]="['/messages-deleted/']"><i class="fa fa-trash"></i> Trash</a></li>
                        </ul>

                    </div><!-- end col-md-3 -->

                    <div class="col-md-10 col-sm-12 col block-shadow white-bg">     
                        <div class="show-lt-lg">
                            <div class="toolbar mb-40 clearfix text-center row-eq-height-always">
                                <div class="col-xs-6">
                                     <a [routerLink]="['/messages/']" class="btn t03 btn-sm"><i class="fa fa-angle-left"></i> Back</a>
                                    
                                </div>
                                <div class="col-xs-6">                                    
                                   <a class="closebtn toolbtn" (click)="openNav()">Menú</a>
				   <!--<button class="btn btn-default btn-icon btn-md pull-right"><i class="fa fa-trash icon"></i></button>-->
                                </div>
                            </div>

                            
                        </div><!-- end show only md-->
                        <div class="show-gt-lt">
                            <div class="row mb-20">
                                <div class="col-md-8">
                                    <a [routerLink]="['/messages/']" class="btn t03"><i class="fa fa-angle-left"></i> Back</a>
                                </div>
                                <div class="col-md-4">
                                    <!--<button class="btn btn-default btn-icon btn-md pull-right delete-message"><i class="fa fa-trash icon"></i> Delete message</button>-->
                                </div>
                            </div>
                        </div>
			<div class="col-md-12">
                            <div class="header-02 mb-40 clearfix">
                                <div class="avatar"></div>
                                <div class="title">Subject</div>
                                <div class="info">{{subject}}</div>
                            </div>
			</div>
                        <div class="col-md-12" *ngFor="let i of userMessages.messages">
                            <div class="header-02 mb-40 clearfix">
                                <div class="avatar"></div>
                                <div class="title"><a [routerLink]="['/user/' + i.username]" class="read-more">{{i.username}}</a></div>
				<div class="info">{{i.updated_at | date: 'MM/dd/yyyy hh:mm a'}}</div>
                            </div>
			    <div contenteditable="false" class="terms-condition" style="margin-bottom: 20px;" [innerHTML]="i.body"></div>
                        </div>
			<div class="col-md-12">
                            <div class="header-02 mb-40 clearfix">
                                <div class="avatar"></div>
                                <div class="title">Reply</div>
                                <div class="info"></div>
                            </div>
			</div>
			<div class="col-md-12">
                                <div class="form-group">
                                        <div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="user.body"></div>
                                </div>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                                <button (click)="send()" class="next-login save-btn next-btn">Send</button>
                        </div>

                    </div><!-- end row -->


                </div><!-- end container -->
            </div><!-- end container -->


        </section> <!-- end desktop version -->
