<app-navbar></app-navbar>
<!-- Start breadcrumb-area -->
<div class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <div class="breadcrumb-table">
                    <div class="breadcrumb-tablecell">
                        <h1><i class="fa fa-stethoscope"></i> Profile</h1>
                    </div>
                </div>
            </div><!-- end col-xs-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end breadcrumb-area -->

<!-- Start user-account-area -->
<div class="user-account-area text-center ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="user-content-wrapper">
                    <div class="user-form-wrapper">
                        <div class="circle-box">
                            <a [ngClass]="{ 'active': tabActive == 0 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 1 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 2 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 3 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 4 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 5 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 6 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 7 }" class="single-circle-box"></a>
                            <a [ngClass]="{ 'active': tabActive == 8 }" class="single-circle-box"></a>
                        </div>
                        <ng-container *ngIf="tabActive == 0">
                            <h4>Create user</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step1Form">
				    <div class="col-md-4">
					    <input type="file" id="profile-image" (change)="selectFile($event)" name="image" accept="image/*" capture style="display:none"/>
					    <img src="assets/images/image-upload.png" (click)="profileImgClick($event)" />
				    </div>
				    <div class="col-md-8">
                                    <div class="info" *ngIf="username_already">
                                        <i class="fa fa-info-circle"></i>The username is already in use
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="far fa-user"></i></span>
                                        <input [(ngModel)]="professional.professional_name" formControlName="name" type="text" class="form-control control-icon" placeholder="Name">
                                        <div *ngIf="errors.name" class="error">{{ errors.name }}</div>
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="far fa-user"></i></span>
                                        <input [(ngModel)]="professional.professional_username" formControlName="username" type="text" maxlength="9" class="form-control control-icon" placeholder="Username">
                                        <div *ngIf="errors.username" class="error">{{ errors.username }}</div>
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                        <input [(ngModel)]="professional.professional_phone" formControlName="phone" type="text" maxlength="11" class="form-control control-icon" placeholder="Phone Number">
                                        <div *ngIf="errors.phone" class="error">{{ errors.phone }}</div>
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="fa fa-envelope"></i></span>
                                        <input [(ngModel)]="professional.email" formControlName="email" type="text" class="form-control control-icon" placeholder="Your email">
                                        <div *ngIf="errors.email" class="error">{{ errors.email }}</div>
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="fa fa-key"></i></span>
                                        <input [(ngModel)]="professional.password" formControlName="password" type="password" class="form-control control-icon" placeholder="Password">
                                        <div *ngIf="errors.password" class="error">{{ errors.password }}</div>
                                    </div>
                                    <div class="form-group">
                                        <span class="icon"><i class="fa fa-key"></i></span>
                                        <input formControlName="repeat" type="password" class="form-control control-icon" placeholder="Repeat password">
                                        <div *ngIf="errors.repeat" class="error">{{ errors.repeat }}</div>
                                    </div>
				    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 1">
                            <h4>Location</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step2Form">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select2 [data]="countries" (valueChanged)="onSelectCountry($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select2 [data]="regions" (valueChanged)="onSelectRegion($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select2 [data]="cities" (valueChanged)="onSelectCity($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input [(ngModel)]="professional.professional_address" type="text" name="address" id="address" class="form-control" 
                                            formControlName="address" placeholder="Address">
                                            <div *ngIf="errors.address" class="error">{{ errors.address }}</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 2">
                            <h4>Profession</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step3Form">
                                    <div class="col-sm-6">
                                        <div class="form-group">
						<select [(ngModel)]="professional.fkprofession" formControlName="profession" class="form-control">
                                            		<option value="0">Type of profession</option>
                                            		<option *ngFor="let item of professions" value="{{item.id}}">{{item.text}}</option>
                                        	</select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input [(ngModel)]="professional.professional_website" type="text" name="website" id="website" class="form-control" 
                                            formControlName="website" placeholder="Website">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 3">
                            <h4>About me</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step4Form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
						<div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="professional.professional_about" formControlName="about"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 4">
                            <h4>My approach</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step5Form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
						<div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="professional.professional_approach" formControlName="approach"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 5">
                            <h4>My Story</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step6Form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
						<div contenteditable="true" class="terms-condition" propValueAccessor="innerHTML" [(ngModel)]="professional.professional_stories" formControlName="stories"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 6">
                            <h4>Profession</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step7Form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
						<dual-list [source]="specialities" key="id" display="text" [(destination)]="selectedSpecialities"></dual-list>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 7">
                            <h4>Qualifications</h4>
                            <div class="account-user-form">
                                <form [formGroup]="step8Form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
						<dual-list [source]="qualifications" key="id" display="text" [(destination)]="selectedQualifications"></dual-list>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tabActive == 8">
                            <i class="fa fa-heartbeat fa-4"></i>
                            <h2>Great!</h2>
                            <h5>Successfully registered</h5>
                        </ng-container>
                    </div>
                    <div class="arrow-btn-group" [ngClass]="{'w-100': tabActive == 0, 'text-center': tabActive == 8}">
                        <div class="text-left" *ngIf="tabActive > 0 && tabActive != 8">
                            <button type="submit" class="prev-btn" (click)="back()"><i class="fa fa-angle-left"></i> Back</button>
                        </div>
                        <div [ngClass]="{'text-right': tabActive != 8}">
                            <button [ngClass]="{'mr-30': tabActive != 8}"
                            [disabled]="!activeForm.valid" 
                            class="save-btn next-btn" (click)="next()">
                            {{ tabActive == 8 ? "Finish" : "Next" }} <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- end col-xs-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end user-account-area -->
