<!-- HOW IT WORKS -->
<section class="gl-img-box-section gl-custom-section section-1">
  <div class="container-fluid">
    <div class="row">
      <!-- IMAGEBOX -->
      <div class="gl-img-box-wrapper" [ngStyle]="{'background': 'url('+ item.image +') no-repeat center /cover;'}" *ngFor="let item of items">
        <div class="gl-overlay-effect">
            <a href="http://google.com" class="overlay">
              <p class="text-overlay">  {{item.name}}</p>
            </a>
          </div>
      </div>
      <!-- IMAGEBOX END -->
    </div>
  </div>
</section>
<!-- HOW IT WORKS END -->