<app-navbar></app-navbar>
<div class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sx-12">
                        <div class="breadcrumb-table">
                            <div class="breadcrumb-tablecell">
                                <h1><span>Terms of use</span> and privacy</h1>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum congue tincidunt. </span>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-area -->

        <div class="">
            <div class="container">
                <div class="row">
                    <h2 class="tit02">Privacy Policy</h2>
                    <div class="scrollable h-310">
                        <div class="content">
                            <p>Permission to Collect and Maintain Identifiable Health Information</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim est id mauris condimentum tincidunt. Etiam nisl nulla, vehicula et tempor consequat, consectetur non nisl. Vivamus dapibus ex ut lectus egestas elementum. Nulla tincidunt, massa a mattis faucibus, dolor velit aliquam lacus, eget maximus nibh sem sed nibh. Proin vulputate vulputate neque, non blandit dui ultricies a. Mauris at hendrerit libero. Nulla sed feugiat mi, quis euismod velit.search criteria.</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                        </div>
                    </div>
                    <div class="text-right">

                        <div class="checkbox checkbox-inline mb-40">
                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="">
                            <label for="inlineCheckbox1"><span></span> <strong>I agree</strong> to the Terms and Conditions</label>
                        </div>

                    </div>
                </div><!-- end row -->

                <div class="row">
                    <h2 class="tit02">Terms of Use</h2>
                    <div class="scrollable h-310 mb-40">
                        <div class="content">
                            <p>Permission to Collect and Maintain Identifiable Health Information</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim est id mauris condimentum tincidunt. Etiam nisl nulla, vehicula et tempor consequat, consectetur non nisl. Vivamus dapibus ex ut lectus egestas elementum. Nulla tincidunt, massa a mattis faucibus, dolor velit aliquam lacus, eget maximus nibh sem sed nibh. Proin vulputate vulputate neque, non blandit dui ultricies a. Mauris at hendrerit libero. Nulla sed feugiat mi, quis euismod velit.search criteria.</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                            <p>I hereby give Amino permission to collect from third parties and to maintain identifiable information about the current status of my deductible or out of pocket expenses. I understand that Amino will use this identifiable information for the purpose of providing me with personalized information about potential options for</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="checkbox checkbox-inline mb-40">
                            <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
                            <label for="inlineCheckbox2"><span></span> <strong>I accept</strong> the Privacy Statement</label>
                        </div>
                    </div>

                </div><!-- end row -->

                <div class="row mb-40">
                    <div class="container text-center">
                        <button type="submit" class="btn btn-default btn-bg bold">Continue</button>
                    </div>

                </div>
            </div><!-- end container -->        

        </div><!-- end blog-content-area -->
