<app-navbar></app-navbar>
<!-- Start breadcrumb-area -->
        <div class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sx-12">
                        <div class="breadcrumb-table">
                            <div class="breadcrumb-tablecell">
                                <h1>Help</h1>
                                <span>Phasellus accumsan cursus velit. </span>
                            </div>
                        </div>
                    </div><!-- end col-xs-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-area -->


        <!--start mobile version-->
        <section id="mobile-middle-area" class="mobile-middle-area">
            <div class="">
                <div class="container">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a   data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in text-line-40" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="body-widget">
                                        <div class="tabs-new-widget text-justify">
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse text-line-40" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="body-widget">
                                        <div class="tabs-new-widget text-justify">
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThree" class="panel-collapse collapse text-line-40" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="body-widget">
                                        <div class="tabs-new-widget text-justify">
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                            <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- end mobile version -->


        <!--start desktop version-->
        <section id="middle-area" class="middle-area">
            <div class="ptb-90">
                <div class="container">
                    <div class="row row-eq-height">
                        <div class="col-sm-4 col-xs-12 pr-9 section-title">
                            <h2 class="title"><i class="fa fa-stethoscope"></i> Category</h2>
                            <div class="line-sep"></div>
                            <ul class="nav nav-pills acordion-nav">
                                <li class="active">
                                    <a data-toggle="pill" href="#tab01">Lorem ipsum dolor sit amet</a>
                                    <ul class="submenu">
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item" >Lorem ipsum dolor sit amet</li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#tab02">Lorem ipsum dolor sit amet 2</a>
                                    <ul class="submenu">
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item" >Lorem ipsum dolor sit amet</li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#tab03">Lorem ipsum dolor sit amet 3</a>

                                    <ul class="submenu">
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item">Lorem ipsum dolor sit amet</li>
                                        <li class="item" >Lorem ipsum dolor sit amet</li>
                                    </ul>
                                </li>						
                            </ul>
                        </div><!-- end col-sm-4 -->
                        <div class="col-sm-8 col-xs-12">                        
                            <div class="tab-content">

                                <div id="tab01" class="tab-pane fade in active text-justify text-line-40">
                                    <div class="breadcrumb">
                                        <span class="breadcrumb-item">Category <i class="fa fa-angle-right sep"></i></span>
                                        <span href="#" class="breadcrumb-item" id="active-item">Lorem ipsum dolor sit amet</span>
                                    </div>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                </div>
                                <div id="tab02" class="tab-pane fade text-line-40">
                                    <div class="breadcrumb">
                                        <span class="breadcrumb-item">Category <i class="fa fa-angle-right sep"></i></span>
                                        <span href="#" class="breadcrumb-item" id="active-item">Lorem ipsum dolor sit amet 2</span>
                                    </div>
                                    <p class="mb-40">2 . Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                </div>
                                <div id="tab03" class="tab-pane fade text-line-40">
                                    <div class="breadcrumb">
                                        <span class="breadcrumb-item">Category <i class="fa fa-angle-right sep"></i></span>
                                        <span href="#" class="breadcrumb-item" id="active-item">Lorem ipsum dolor sit amet 3</span>
                                    </div>
                                    <p class="mb-40">3 . Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                    <h3 class="tit02">Lorem ipsum dolor sit amet</h3>
                                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac gravida lectus. Sed semper aliquam tortor, vel porta risus. Donec fringilla quam sem, at dictum purus bibendum eu. Nam pellentesque tortor lacus, ut iaculis orci egestas ut. Quisque blandit molestie magna sit amet vestibulum. Integer bibendum mauris et orci cursus, vitae egestas diam auctor. Nulla semper tortor quis posuere fermentum. Duis ultricies sit amet magna a sollicitudin. Ut congue quis purus</p>

                                </div>
                            </div>
                        </div><!-- end col-sm-8 -->
                    </div><!-- end row -->

                </div><!-- end container -->


            </div>
        </section> <!-- end desktop version -->
