<!-- Start footer-area -->
<div class="footer-area ptb-90">
  <div class="container">
      <div class="row pl-70">
          <div class="col-md-5 col-sm-7 col-xs-12">
              <div class="single-widget about"> 
                  <h3 class="widget-title">About Us</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum efficitur lacinia. Maecenas posuere consectetur ligula sed consectetur. Suspendisse quis condimentum velit.</p>

              </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="single-widget pl-40"> 
                  <h3 class="widget-title">Services</h3>
                  <ul class="widget-menu-list">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 3</a></li>
                      <li><a href="#">Service 3</a></li>
                  </ul>
              </div><!-- end single-widget -->
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="single-widget pl-40"> 
                  <h3 class="widget-title">Pages</h3>
                  <ul class="widget-menu-list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Search</a></li>
                      <li><a href="#">Patients</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Create Account</a></li>
                  </ul>
              </div><!-- end single-widget -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="single-widget pl-40"> 
                  <h3 class="widget-title">Social</h3>
                  <div class="social-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
              </div><!-- end single-widget -->
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="copyright-text">2017 PAINDOWN RIF: XXXXXXXX-8. All Right Reserved</p>
          </div>
      </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end footer-area -->